﻿@model Vienauto.Mobile.Models.View.InitialTabLoading

<div class="sliding-pane" id="js-toggle-dealership-menu-agent">
    <div class="sliding-pane-mask">
    </div>
    <div class="sliding-pane-body">
        <nav>
            <a href="#">
                <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-dealership-menu-agent">&nbsp;</span>
            </a>
            <h1>
                <span>Chọn hãng phân phối</span>
            </h1>
        </nav>
        <div class="sliding-pane-container">
            <dl class="sorted-options ajax-tab" data-current-value="dealership-value-menu-agent" data-current-id="dealership-id-menu-agent" data-close="true">
                <dt></dt>
                @foreach (var dealership in Model.Dealerships)
                {
                    <a data-id="@dealership.Value" data-text="@dealership.Text" class="ajax-item-dealership-menu-agent" href="javascript:void(0);">
                        <dd>@dealership.Text</dd>
                    </a>
                }
            </dl>
        </div>
    </div>
</div>
<div class="sliding-pane" id="js-toggle-province-menu-agent">
    <div class="sliding-pane-mask">
    </div>
    <div class="sliding-pane-body">
        <nav>
            <a href="#">
                <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-province-menu-agent">&nbsp;</span>
            </a>
            <h1>
                <span>Chọn tỉnh thành</span>
            </h1>
        </nav>
        <div class="sliding-pane-container">
            <dl class="sorted-options ajax-tab" data-current-value="province-value-menu-agent" data-current-id="province-id-menu-agent" data-close="true">
                <dt></dt>
                @foreach (var province in Model.Provinces)
                {
                    <a data-id="@province.Value" data-text="@province.Text" class="ajax-item-province-menu-agent" href="javascript:void(0);">
                        <dd>@province.Text</dd>
                    </a>
                }
            </dl>
        </div>
    </div>
</div>

