﻿@model Vienauto.Mobile.Models.View.InitialTabLoading

<div class="sliding-pane" id="js-toggle-manufacturer-menu-model">
    <div class="sliding-pane-mask">
    </div>
    <div class="sliding-pane-body">
        <nav>
            <a href="#">
                <span class="caret-left js-toggle-close" 
                      data-toggle-menu="js-toggle-manufacturer-menu-model">&nbsp;</span>
            </a>
            <h1>
                <span>Chọn hãng xe</span>
            </h1>
        </nav>
        <div class="sliding-pane-container">
            <dl class="sorted-options ajax-tab ajax-bind-manufacturer-menu-model"
                data-current-value="manufacturer-current-value-menu-model"
                data-current-id="manufacturer-current-id" data-close="false"
                data-toggle-menu="js-toggle-model-menu-model" data-bind-item="ajax-item-model-menu-model"
                data-bind-container="ajax-bind-model-menu-model" data-url="/mobile/getmodelbymanufacturer/">
                <dt></dt>
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <a class="ajax-item-manufacturer-menu-model" href="javascript:void(0);"
                       data-id="@manufacturer.Value" data-text="@manufacturer.Text">
                        <dd>@manufacturer.Text</dd>
                    </a>
                }
            </dl>
        </div>
    </div>
</div>
<div class="sliding-pane" id="js-toggle-model-menu-model">
    <div class="sliding-pane-mask">
    </div>
    <div class="sliding-pane-body">
        <nav>
            <a href="#">
                <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-model-menu-model">&nbsp;</span>
            </a>
            <h1>
                <span>Chọn dòng xe</span>
            </h1>
        </nav>
        <div class="sliding-pane-container">
            <dl class="sorted-options ajax-tab ajax-bind-model-menu-model"
                data-current-value="model-current-value-menu-model"
                data-current-option="model-disabled-option-menu-model"
                data-current-id="model-current-id" data-close="false"
                data-toggle-menu="js-toggle-year-menu-model" data-bind-item="ajax-item-year-menu-model"
                data-bind-container="ajax-bind-year-menu-model" data-url="/mobile/getyearbymodel/"></dl>
        </div>
    </div>
</div>
<div class="sliding-pane" id="js-toggle-year-menu-model">
    <div class="sliding-pane-mask">
    </div>
    <div class="sliding-pane-body">
        <nav>
            <a href="#">
                <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-year-menu-model">&nbsp;</span>
            </a>
            <h1>
                <span>Chọn năm</span>
            </h1>
        </nav>
        <div class="sliding-pane-container">
            <dl class="sorted-options ajax-tab ajax-bind-year-menu-model"
                data-current-value="year-current-value-menu-model"
                data-current-id ="year-current-id"
                data-current-option="year-disabled-option-menu-model"
                data-toggle-menu="js-toggle-year-menu-model" data-close="true"></dl>
        </div>
    </div>
</div>
