﻿@model Vienauto.Mobile.Models.View.InitialTabLoading
<div id="popupTab">
    <div class="sliding-pane" id="js-toggle-manufacturer-menu-sell">
        <div class="sliding-pane-mask">
        </div>
        <div class="sliding-pane-body">
            <nav>
                <a href="#">
                    <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-manufacturer-menu-sell">&nbsp;</span>
                </a>
                <h1>
                    <span>Chọn hãng xe</span>
                </h1>
            </nav>
            <div class="sliding-pane-container">
                <dl class="sorted-options ajax-tab ajax-bind-manufacturer-menu-sell"
                    data-current-value="manufacturer-current-value-menu-sell" data-close="false"
                    data-toggle-menu="js-toggle-model-menu-sell" data-bind-item="ajax-item-model-menu-sell"
                    data-bind-container="ajax-bind-model-menu-sell" data-url="/mobile/getmodelbymanufacturer/">
                    <dt></dt>
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <a class="ajax-item-manufacturer-menu-sell" data-id="@manufacturer.Value" data-text="@manufacturer.Text" href="javascript:void(0);">
                            <dd>@manufacturer.Text</dd>
                        </a>
                    }
                </dl>
            </div>
        </div>
    </div>

    <div class="sliding-pane" id="js-toggle-model-menu-sell">
        <div class="sliding-pane-mask">
        </div>
        <div class="sliding-pane-body">
            <nav>
                <a href="#">
                    <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-model-menu-sell">&nbsp;</span>
                </a>
                <h1>
                    <span>Chọn dòng xe</span>
                </h1>
            </nav>
            <div class="sliding-pane-container">
                <dl class="sorted-options ajax-tab ajax-bind-model-menu-sell"
                    data-current-value="model-current-value-menu-sell"
                    data-current-option="model-disabled-option-menu-sell" data-close="false"
                    data-toggle-menu="js-toggle-year-menu-sell" data-bind-item="ajax-item-year-menu-sell"
                    data-bind-container="ajax-bind-year-menu-sell" data-url="/mobile/getyearbymodel/"></dl>
            </div>
        </div>
    </div>

    <div class="sliding-pane" id="js-toggle-year-menu-sell">
        <div class="sliding-pane-mask">
        </div>
        <div class="sliding-pane-body">
            <nav>
                <a href="#">
                    <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-year-menu-sell">&nbsp;</span>
                </a>
                <h1>
                    <span>Chọn năm</span>
                </h1>
            </nav>
            <div class="sliding-pane-container">
                <dl class="sorted-options ajax-tab ajax-bind-year-menu-sell"
                    @*data-unbind="true"*@ data-close="false"
                    data-current-value="year-current-value-menu-sell"
                    data-current-option="year-disabled-option-menu-sell"
                    data-toggle-menu="js-toggle-from-price-menu-sell"></dl>
            </div>
        </div>
    </div>

    <div class="sliding-pane" id="js-toggle-from-price-menu-sell">
        <div class="sliding-pane-mask">
        </div>
        <div class="sliding-pane-body">
            <nav>
                <a href="#">
                    <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-from-price-menu-sell">&nbsp;</span>
                </a>
                <h1>
                    <span>Chọn mức giá</span>
                </h1>
            </nav>
            <div class="sliding-pane-container">
                <dl class="sorted-options ajax-tab ajax-bind-from-price-menu-sell"
                    @*data-unbind="true"*@ data-close="false"
                    data-current-value="from-price-value-menu-sell"
                    data-current-option="from-price-disabled-menu-sell"
                    data-toggle-menu="js-toggle-to-price-menu-sell">
                    <dt></dt>
                    @foreach (var fromPrice in Model.CarFromPrices)
                    {
                        <a data-id="@fromPrice.Value" data-text="@fromPrice.Text" class="item-from-price-menu-sell" href="javascript:void(0);">
                            <dd>@fromPrice.Text</dd>
                        </a>
                    }
                </dl>
            </div>
        </div>
    </div>

    <div class="sliding-pane" id="js-toggle-to-price-menu-sell">
        <div class="sliding-pane-mask">
        </div>
        <div class="sliding-pane-body">
            <nav>
                <a href="#">
                    <span class="caret-left js-toggle-close" data-toggle-menu="js-toggle-to-price-menu-sell">&nbsp;</span>
                </a>
                <h1>
                    <span>Chọn mức giá</span>
                </h1>
            </nav>
            <div class="sliding-pane-container">
                <dl class="sorted-options ajax-tab ajax-bind-to-price-menu-sell"
                    data-unbind="true" data-close="true"
                    data-current-value="to-price-value-menu-sell"
                    data-current-option="to-price-disabled-menu-sell"
                    data-toggle-menu="js-toggle-to-price-menu-sell">
                    <dt></dt>
                    @foreach (var toPrice in Model.CarToPrices)
                    {
                        <a data-id="@toPrice.Value" data-text="@toPrice.Text" class="item-to-price-menu-sell" href="javascript:void(0);">
                            <dd>@toPrice.Text</dd>
                        </a>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>
