﻿<div id="superwidget-dealers-container" class="tab-content" style="display: block;">
    <form id="dealersearch-form" name="dealersearch-form">
        <div>
            <div class="option-block select-make">
                <div class="current-option">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-dealership-menu-agent">
                        <p class="col-one">Hãng phân phối</p>
                        <p class="col-two">
                            <span class="dealership-value-menu-agent">Chọn hãng xe</span>
                            <input type="hidden" id="dealership-id-menu-agent" />
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-location">
                <div class="current-option">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-province-menu-agent">
                        <p class="col-one">Tỉnh thành</p>
                        <p class="col-two">
                            <span class="province-value-menu-agent">Chọn tỉnh thành</span>
                            <input type="hidden" id="province-id-menu-agent" />
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="submit-row">
                <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r">
                    <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">Tìm đại lý</span>
                    </span>
                    <input type="button" class="js-submit primary ui-btn-hidden" value="Tìm đại lý" onclick="openAgencyPage();">
                </div>
            </div>
        </div>
    </form>
</div>
