﻿<div id="superwidget-research-container" class="tab-content">
    <form id="research-form" name="research-form">
        <div>
            <div class="option-block select-make">
                <div class="current-option">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-manufacturer-menu-model">
                        <p class="col-one">Hãng xe</p>
                        <p class="col-two">
                            <span class="manufacturer-current-value-menu-model">Chọn hãng xe</span>
                            <input type="hidden" id="manufacturer-current-id" />
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-model">
                <div class="current-option model-disabled-option-menu-model disabled">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-model-menu-model">
                        <p class="col-one">Dòng xe</p>
                        <p class="col-two">
                            <span class="model-current-value-menu-model">Chọn dòng xe</span>
                            <input type="hidden" id="model-current-id" />
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-year last-option">
                <div class="current-option year-disabled-option-menu-model disabled">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-year-menu-model">
                        <p class="col-one">Năm sản xuất</p>
                        <p class="col-two">
                            <span class="year-current-value-menu-model">Chọn năm</span>
                            <input type="hidden" id="year-current-id" />
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="submit-row">
                <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r">
                    <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">Xem dòng xe chi tiết</span>
                    </span>
                    <input type="button" class="js-submit primary ui-btn-hidden" value="Xem dòng xe chi tiết" onclick="openModelPage();">
                </div>
            </div>
        </div>
    </form>
</div>
