﻿<div id="superwidget-inventory-container" class="tab-content" style="display: block;">
    <form id="inventory-form" name="inventory-form">
        <div>
            <div class="option-block select-stocktype">
                <a class="stock-type-option ui-link">
                    <div class="ui-radio">
                        <input type="radio" name="stkTyp" value="N" checked="checked">
                    </div>
                    <label>Xe mới</label>
                </a>
                <a class="stock-type-option ui-link">
                    <div class="ui-radio">
                        <input type="radio" name="stkTyp" value="U">
                    </div>
                    <label>Xe cũ</label>
                </a>
            </div>
            <div class="option-block select-make">
                <div class="current-option">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-manufacturer-menu-sell">
                        <p class="col-one">Hãng xe</p>
                        <p class="col-two">
                            <span class="manufacturer-current-value-menu-sell">Chọn hãng xe</span>
                            @*<span class="caret-right">&nbsp;</span>*@
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-model">
                <div class="current-option model-disabled-option-menu-sell disabled">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-model-menu-sell">
                        <p class="col-one">Dòng xe</p>
                        <p class="col-two">
                            <span class="model-current-value-menu-sell">Chọn dòng xe</span>
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-year">
                <div class="current-option year-disabled-option-menu-sell disabled">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-year-menu-sell">
                        <p class="col-one">Năm sản xuất</p>
                        <p class="col-two">
                            <span class="year-current-value-menu-sell">Chọn năm</span>
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-price">
                <div class="current-option from-price-disabled-menu-sell">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-from-price-menu-sell">
                        <p class="col-one">Mức giá từ</p>
                        <p class="col-two">
                            <span class="from-price-value-menu-sell">Chọn mức giá</span>
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="option-block select-price">
                <div class="current-option to-price-disabled-menu-sell disabled">
                    <a href="#" class="ui-link js-toggle" data-toggle-menu="js-toggle-to-price-menu-sell">
                        <p class="col-one">Đến mức giá</p>
                        <p class="col-two">
                            <span class="to-price-value-menu-sell">Chọn mức giá</span>
                            <i class="fa fa-angle-right"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="submit-row">
                <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r">
                    <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">Tìm xe</span>
                    </span>
                    <input data-role="button" type="button" onclick="openInventoryPage()" class="primary ui-btn-hidden" value="Tìm xe">
                </div>
            </div>
        </div>
    </form>
</div>
