﻿@using Vienauto.Mobile.Configuration
@model Vienauto.Mobile.Models.Form.BookingCarInput

<div class="car_booking_selection_form" id="your-car-information">
    <div class="car_booking_header">
        <h3>
            Đặt xe trực tuyến
        </h3>
    </div>
    <div class="car_booking_selection_form">
        <div class="form-group">
            <label for="ManufacturerId">Hãng xe:</label>
            @Html.DropDownListFor(x => x.ManufacturerId, Model.Manufacturers, new
                       {
                           @class = "form-control ajax-manufacturer",
                           data_bind = "select.ajax-model",
                           data_url = "/mobile/getmodelbymanufacturer/",
                           data_default_option = "Chọn dòng xe"
                       })
            @Html.ValidationMessageFor(x => x.ManufacturerId)
        </div>
        <div class="form-group">
            <label for="ModelId">Dòng xe:</label>
            @Html.DropDownListFor(x => x.ModelId, Model.Models, new
                       {
                           @class = "form-control ajax-model",
                           data_bind = "select.ajax-year",
                           data_url = "/mobile/getyearbymodel/",
                           data_default_option = "Chọn năm"
                       })
            @Html.ValidationMessageFor(x => x.ModelId)
        </div>
        <div class="form-group">
            <label for="YearId">Năm:</label>
            @Html.DropDownListFor(x => x.YearId, Model.Years, new
                       {
                           @class = "form-control ajax-year",
                           data_bind = "select.ajax-car",
                           data_url = "/mobile/getcarbyyear/",
                           data_default_option = "Chọn phiên bản"
                       })
            @Html.ValidationMessageFor(x => x.YearId)
        </div>
        <div class="form-group">
            <label for="CarId">Phiên bản:</label>
            @Html.DropDownListFor(x => x.CarId, Model.Cars, new
                       {
                           @class = "form-control ajax-car"
                       })
            @Html.ValidationMessageFor(x => x.CarId)
        </div>
        <div class="agentImage small-loading-container">
            <img src="@AppSetting.RootURL/images/files/car_unavaluabel.png" alt="images" title="images" width="130">
        </div>
    </div>
</div>
