﻿@using Vienauto.Interface.Result
@model Vienauto.Mobile.Models.Form.BookingCarInput

<div class="car_booking_selection_form" id="your-information" style="display: none;">
    <div class="car_booking_header">
        <h3>
            Thông tin đặt xe
        </h3>
    </div>
    @{
        var errorBinding = "";
        var errors = ViewBag.ErrorMessage;

        if (errors != null && errors.Count > 0)
        {
            var errorCodes = (List<ErrorDescriber>)errors;
            foreach (var error in errorCodes)
            {
                errorBinding += @error.Code.ToString() + "/n";
            }
        }
    }
    <input id="errorMessage" type="hidden" value="@errorBinding" />
    <input id="triggerNotification" type="hidden" value="@ViewBag.TriggerNotification" />
    <div class="car_booking_selection_form">
        <div class="form-group">
            <label for="FullName">Họ tên:</label>
            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", placeholder = "Nhập họ và tên" })
            @Html.ValidationMessageFor(x => x.FullName)
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Nhập Email" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ:</label>
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Nhập địa chỉ" })
            @Html.ValidationMessageFor(x => x.Address)
        </div>
        <div class="form-group">
            <label for="address">Điện thoại:</label>
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control restrict-phone-input", placeholder = "+84" })
            @Html.ValidationMessageFor(x => x.Phone)
        </div>
        @*<div class="form-group">
                <label for="Age">Tuổi:</label>
                @Html.DropDownListFor(x => x.AgeId, Model.Ages, new { @class = "form-control" })
            </div>*@
        <div class="form-group">
            <label>Giới tính</label>
            <br />
            @Html.RadioButtonFor(x => x.Gender, true, new { @class = "form-check-input", name = "gender" }) Nam
            @Html.RadioButtonFor(x => x.Gender, false, new { @class = "form-check-input", name = "gender", style = "margin-left: 20px;" }) Nữ
        </div>
        <div class="form-group">
            <label for="LocationId">Khu vực:</label>
            @Html.DropDownListFor(x => x.LocationId, Model.Locations, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Tình trạng</label>
            <br />
            @Html.RadioButtonFor(x => x.IsNew, true, new { name = "IsNew", @checked = "checked" }) Xe mới
            @Html.RadioButtonFor(x => x.IsNew, false, new { name = "IsOld", style = "margin-left: 20px;" }) Xe cũ
        </div>
        <div class="form-group">
            <label for="ReceiveDate">
                Thời gian dự tính mua
            </label>
            <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                @Html.TextBoxFor(x => x.ReceiveDate, new
                           {
                               @class = "form-control",
                               placeholder = "MM/DD/YYYY"
                           })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(x => x.ReceiveDate)
        </div>
        <div class="form-group" style="margin-bottom: 0;">
            <label for="Content">Ghi chú:</label>
            @Html.TextAreaFor(x => x.Content, new { rows = "5" })
            @Html.ValidationMessageFor(x => x.Content)
        </div>
        <div class="form-group" style="text-align: center; margin-bottom: 0;">
            <button type="submit" class="btn btn-primary" id="btnVerify">Xác nhận</button>
        </div>
    </div>
</div>

