﻿@using Vienauto.Mobile.Configuration
@model Vienauto.Mobile.Models.Form.BookingCarInput
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(AppSetting.BundleCssHomePath)
@Scripts.Render(AppSetting.BundleJsHomePath)

<div class="ui-content" style="min-height: 793px;">
    @{ Html.RenderPartial("_TabSearching", Model.InitialTabLoading); }
    <div class="car_booking_form fl">
        @using (Html.BeginForm("BookCar", "Home", new { ReturnUrl = ViewBag.ReturnUrl },
                                   FormMethod.Post, new { id = "frm-car-booking", name = "frm-car-booking" }))
        {
            @Html.AntiForgeryToken()
            <div class="car_booking_selection">
                @{ Html.RenderPartial("_CarBookingSelection", Model); }
                @{ Html.RenderPartial("_CarBookingInput", Model); }
            </div>
        }
    </div>
</div>
@{ Html.RenderPartial("~/Views/Shared/TabMenu/_SellMenu.cshtml", Model.InitialTabLoading); }
@{ Html.RenderPartial("~/Views/Shared/TabMenu/_ModelMenu.cshtml", Model.InitialTabLoading); }
@{ Html.RenderPartial("~/Views/Shared/TabMenu/_AgentMenu.cshtml", Model.InitialTabLoading); }
