﻿<div class="ui-footer ui-bar-a">
    <p>
        @*<a id="homeLink" href="http://www.cars.com?cmp=MobileSiteFooterLink&amp;aff=national" data-ajax="false" data-enhance="false">Full Site</a> |*@
        <a id="aboutCarsComLink" href="/">Vienauto Mobile</a>
    </p>
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "signOutForm" }))
        {
            @Html.AntiForgeryToken()
            <p>
                <a id="loginLink" href="javascript:document.getElementById('signOutForm').submit()">[+] Đăng xuất</a>
            </p>
        }
    }
    else
    {
        <p>
            @Html.ActionLink("[+] Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "feedbackLink", target = "_blank" })
            |
            @Html.ActionLink("Đăng nhập", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    }

    <p>
        © 2016 vienauto.com
        @*| <a id="termsOfServiceLink" href="/#terms">Terms of Service</a> | <a id="privacyPolicyLink" href="/#privacy" data-enhance="false">Privacy Statement</a>*@
    </p>
</div>
