﻿@using Vienauto.Mobile.Configuration;
<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <link rel="icon" type="image/x-icon" href="~/Images/Layout/favicon.ico" />
    <!-- Css -->
    @Styles.Render(AppSetting.BundleCssBootstrapPath)
    @Styles.Render(AppSetting.BundleCssCorePath)
    <!-- Js -->
    @Scripts.Render(AppSetting.BundleJsJqueryPath)
    @Scripts.Render(AppSetting.BundleJsCorePath)
    @Scripts.Render(AppSetting.BundleJsJqueryValidatePath)
    @RenderSection("scripts", required: false)
</head>
<body class="ui-mobile-viewport ui-overlay-a landscape">
    <div id="home" tabindex="0" class="ui-page ui-body-a ui-page-active" style="min-height: 640px;">
        <div id="app-banner">
            <span>
                Download <strong>Cars.com <span id="platform"></span> App</strong> for Free
            </span>
        </div>
        <div class="ui-header ui-bar-a">
            <div class="ui-title-wrapper">
                <div class="ui-title">
                    <a href="@Url.Action("Index", "Home")">
                        <div id="carslogo"></div>
                    </a>
                    <div id="togglenav-button" class="hidden-at-start">&nbsp;</div>
                </div>
            </div>
            @Html.Partial("_NavBarMenu")
        </div>
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
