﻿<nav class="global-navbar">
    @*<a href="#" class="findyourcar">Find Your Car</a>*@
    @if (User.Identity.IsAuthenticated)
    {
        <a class="account" href="javascript:void(0);">@User.Identity.Name</a>
    }
    <a href="#xecu" class="bookvalue">Xe cũ</a>
    <a href="#xemoi" class="sellandtrade">Xe mới</a>
    <a href="#dongxe" class="research">Tìm kiếm dòng xe</a>
    <a href="#daily" class="findadealer">Tìm kiếm đại lý</a>
    <a href="http://datlichbaoduong.com/" class="autorepair">Dịch vụ &amp; Bảo trì</a>    
    @*<a href="#" class="calculators">Calculators</a>*@
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "signOutForm" }))
        {
            @Html.AntiForgeryToken()
            <a class="account" href="javascript:document.getElementById('signOutForm').submit()">Đăng xuất</a>
        }
    }
    else
    {
        @Html.ActionLink("Đăng nhập", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="account" })
        @Html.ActionLink("Đăng Kí", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "account" })
    }    
</nav>
