﻿@model Vienauto.Mobile.Models.View.PagingComponent

@if (Model.PageSize > 0)
{
    @Html.HiddenFor(model => model.PageIndex, new { id = "page-index" })
    @Html.HiddenFor(model => model.NextPage, new { id = "next-page-index" })
    @Html.HiddenFor(model => model.PreviousPage, new { id = "previous-page-index" })
    @Html.HiddenFor(model => model.TotalPages, new { id = "total-pages" })
    @Html.HiddenFor(model => model.SortName, new { id = "current-sort" })
    @Html.HiddenFor(model => model.PageSize, new { id = "current-page-size" })
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6" align="center">
            <ul class="pagination" id="pagination">
                <li class="li-paging">
                    <a class="page-navigation" href="javascript:void(0)"
                       data-disable="@(!(Model.PageIndex > 1))"                       
                       data-navigation="Previous" data-current-page="@Model.PreviousPage"><</a>
                </li>
                <li class="li-paging">
                    <a class="page-navigation" href="javascript:void(0)"
                       data-navigation="Current">@Model.PageIndex</a>
                </li>
                <li class="li-paging">
                    <a class="page-navigation" href="javascript:void(0)"
                       data-disable="@(!(Model.PageIndex < Model.TotalPages))"                       
                       data-navigation="Next" data-current-page="@Model.NextPage">></a>
                </li>
            </ul>
        </div>
    </div>
}