﻿@model Vienauto.Mobile.Models.View.InitialTabLoading

<div id="hero-image-container">
    <div id="hero-image" style="background: url('/Images/Layout/img645993624-1468960731767.jpg') center center /
                                            cover no-repeat rgb(255, 255, 255);"></div>
    <h1>
        <span>Tiện ích, hiệu quả</span>
    </h1>
    <div id="hero-image-mask" class="reveal"></div>
</div>
<div id="superwidget-container">
    <div id="tabs" data-role="navbar" class="ui-navbar ui-mini" role="navigation">
        <ul class="ui-grid-b">
            <li class="ui-block-a">
                <a id="superwidget-inventory-button" class="tab-button multiline ui-btn ui-btn-inline ui-btn-up-a" href="#">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Xe đang bán</span>
                    </span>
                </a>
            </li>
            <li class="ui-block-b">
                <a id="superwidget-research-button" class="tab-button multiline ui-btn ui-btn-inline ui-btn-up-a" href="#">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Dòng xe</span>
                    </span>
                </a>
            </li>
            <li class="ui-block-c">
                <a id="superwidget-dealers-button" class="tab-button multiline ui-btn ui-btn-inline ui-btn-up-a" href="#">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Đại lý</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    @{ Html.RenderPartial("~/Views/Shared/TabView/_SellTabSearching.cshtml", Model); }
    @{ Html.RenderPartial("~/Views/Shared/TabView/_ModelTabSearching.cshtml", Model); }
    @{ Html.RenderPartial("~/Views/Shared/TabView/_AgentTabSearching.cshtml", Model); }
</div>
