﻿@using Vienauto.Mobile.Configuration;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "ErrorDebug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<p style="color: black; font-size: 12px; margin: auto 15px;">@Model.Exception.Message</p>
<br />
