﻿@using Vienauto.Mobile.Configuration;
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(AppSetting.BundleCssErrorPath)

<script type="text/javascript">
    setTimeout(function () {
        window.location = "http://www.vienauto.com";
    }, 60000);
</script>

<div id="error-page" data-role="content" class="ui-content agency-content" role="main" style="min-height: 526px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h2>
                        <img src="~/Images/Layout/warning.jpg" />
                        505 Internal Server Error
                    </h2>
                    <h1>
                        Phát sinh lỗi trong quá trình xử lý trên server Vienauto.com.
                    </h1>
                    <div class="error-details">
                        Nếu bạn cho rằng đây là một lỗi của website hay server, vui lòng thông báo cho bộ phận hổ trợ.
                        <a href="mailto:support@Vienauto.com">support@Vienauto.com</a>
                    </div>
                    <div class="error-actions">
                        <a href="http://www.Vienauto.com" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Về trang chủ
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
