﻿.ui-content {
    padding-top: 35px !important;
}

.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: visible;
    overflow-x: hidden;
    padding: 15px;
}

.btnSubmitRegister {
    border-radius: 3px;
    padding: 5px;
    background: #0069b6;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 5px #ccc;
    cursor: pointer;
}

.headerTitle {
    width: 100%;
    text-align: center;
}

    .headerTitle h2 {
        margin-top: 10px;
    }

.noscroll {
    overflow: hidden !important;
}

#zoomScroll {
    position: fixed;
    margin: 0 auto;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    background-color: rgba(255,255,255,0.93);
    -webkit-perspective: 1000;
    overflow: auto;
}

    #zoomScroll .fixtomid {
        margin: 0 auto;
    }

    #zoomScroll .zoom {
        background: #fff;
        box-shadow: 0 3px 8px rgba(34, 25, 25, 0.4);
        min-height: 600px;
        padding-left: 5%;
        padding-right: 5%;
    }

        #zoomScroll .zoom .header {
            background-color: #F2F0F0;
            border-bottom: 1px solid #CCCACA;
            padding: 15px 5px 5px 20px;
        }

            #zoomScroll .zoom .header h2 {
                display: inline-block;
                margin: 0;
                padding: 0;
            }

.fl {
    float: left;
}

rl {
    float: right;
}

#zoomScroll .zoom .header h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.cl {
    clear: left;
}

#selectOption {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.loader {
    margin: auto;
    top: 35.8%;
    left: 60px;
    position: absolute;
}

#selectOption {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

input {
    border: solid 1px #ccc;
}

ul#tabs {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

    ul#tabs li {
        display: inline-block;
        background-color: #32c896;
        border-bottom: solid 5px #238b68;
        padding: 5px 20px;
        margin-bottom: 4px;
        color: #fff;
        cursor: pointer;
    }

@media (max-width: 640px) {
    ul#tabs li {
        display: inline-block;
        background-color: #32c896;
        border-bottom: solid 5px #238b68;
        padding: 5px 10px;
        margin-bottom: 4px;
        color: #fff;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    ul#tabs li {
        display: inline-block;
        background-color: #32c896;
        border-bottom: solid 5px #238b68;
        padding: 5px 5px;
        margin-bottom: 4px;
        color: #fff;
        cursor: pointer;
    }
}

ul#tabs li:hover {
    background-color: #238b68;
}

ul#tabs li.focus {
    background-color: #238b68;
}

ul#tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul#tab li {
        width: 100%;
    }

        ul#tab li.tab {
            display: none;
            border: solid 20px #d2f4e9;
        }

        ul#tab li.focus {
            display: block !important;
        }

        ul#tab li.tab h2 {
            font-weight: 400;
            margin-bottom: 30px;
            padding-bottom: 5px;
            border-bottom: solid 5px #32c896;
        }

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

.pt-line {
    padding-top: 10px;
}

.input-register {
    padding: 3px;
}

/*.input-register.hoten {
    width: 180px;
}

.input-register.ten {
    width: 120px;
}

.input-register.email {
    width: 310px;
}*/

.register_error {
    font-weight: bold;
    color: #dd4b39;
}

.chose-many-items {
    background: url(/Assets/images/grey-disclosure-arrow-up-down.png) right no-repeat;
    border: solid 1px #ccc;
}

.input-quest {
    width: 310px;
    padding: 3px;
    cursor: pointer;
}

@media screen and (max-width: 320px) and (min-width: 320px) {
    ul li a {
        padding-left: 30px;
        background: url(email-icon.png) left center no-repeat;
    }
}

.redirect-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.redirect-content {
    top: 30%;
    position: absolute;
    width: 100%;
}

.title {
    color: #532380;
}

.redirect-loading {
    width: 160px;
    height: 24px;
    margin: auto;
    display: block;
    background: url(/Assets/image/cross-loading.gif);
}

label.error {
    color: #cc1100;
}

.active {
    display: inline-block !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.alert_message span {
    font-weight: bold;
}

.alert_message p {
    font-weight: normal;
}

.alert_message ul {
    margin-left: -25px;
    font-weight: normal;
}

    .alert_message ul li {
        padding-bottom: 5px;
    }

.alert_message {
    border-radius: 5px;
    margin: 20px 0px 20px 0px;
    padding: 15px 20px 15px 60px;
    display: none;
}

.validation-summary-errors {
    border-radius: 5px;        
    color: #d85858;    
}

.text-danger {
    width: 100%;
}