﻿<div data-role="content" class="ui-content" role="main" style="min-height: 526px; padding: 15px;">
    <div id="search_results">
        <h2 id="srp-title">
            Found 1622 New Cars
        </h2>
        <div class="alert_message error"><span></span></div>
        <ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="d" id="vehiclerecord-list" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a"><div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="null" data-iconpos="null" data-theme="d" class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Filter</span></span><input type="button" data-theme="d" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false"></div></div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="arrow-d" data-iconpos="right" data-theme="a" class="ui-btn ui-btn-up-a ui-shadow ui-btn-corner-all ui-btn-icon-right">
                                <span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text"><span>Highest</span></span><span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span></span><select id="sort" name="sort" title="sort">
                                    <option selected="selected">Sort By</option>
                                    <optgroup label="Price">
                                        <option value="DESC_price" selected="selected">Highest</option>
                                        <option value="ASC_price">Lowest</option>
                                    </optgroup>
                                    <optgroup label="Deals">
                                        <option value="DESC_localOfferInd">Special Offers</option>
                                    </optgroup>
                                    <optgroup label="Year">
                                        <option value="DESC_modelYear">Newest</option>
                                        <option value="ASC_modelYear">Oldest</option>
                                    </optgroup>
                                    <optgroup label="Distance">
                                        <option value="ASC_location">Nearest</option>
                                    </optgroup>
                                    <optgroup label="Date Listed">
                                        <option value="DESC_listingDateSeconds">Newest</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li id="685165076" class="vehicle-record ui-li ui-li-static ui-btn-up-d">
                <div class="clearfix">
                    <div class="left">
                        <div class="img-container">
                            <img class="lazy" data-listingid="685165076" data-original="http://images.cars.com/results/1/5/1/71/6c686437b1a5a303a3bbc82ecc9.jpg" src="http://images.cars.com/results/1/5/1/71/6c686437b1a5a303a3bbc82ecc9.jpg" style="display: inline;">
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <a href="#" class="compare compare-btn ui-link">Compare</a>
                    </div>
                    <div class="right">
                        <h3 class="ui-li-heading">
                            <a data-listingid="685165076" id="vdplink_685165076" class="ui-link" href="#">
                                2016 Honda CR-V Touring
                            </a>
                        </h3>
                        <p class="ui-li-desc">
                            <strong>
                                <span class="list-price larger">$34,395</span><span class="msrp smaller"> | MSRP $34,395 </span>
                            </strong>
                            <br>
                            <strong>Color</strong>: White Diamond Pearl
                        </p>
                        <p class="ui-li-desc">
                            Cerritos, CA <span class="mileAway">(12 miles away)</span>
                        </p>
                        <p class="ui-li-desc">
                            <span class="sellerName">Norm Reeves Honda Superstore Cerritos</span>

                        </p>
                        <p class="phone-number ui-li-desc"><a class="ui-link phone-traking" data-traking="New-SRP-Dealer" href="tel:888-221-4928">888-221-4928</a></p>

                        <p class="ui-li-desc">
                        </p>
                    </div>
                </div>
            </li>  
            
        </ul>
        <div class="load-more-results"><a class="load-more ui-link" href="#" style="visibility: visible;">Show More Results</a></div>
        <div id="srpnoresults" style="display: none;">
            <ul data-role="listview" data-inset="true" data-theme="a" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="a" class="ui-btn ui-btn-up-a ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-top ui-corner-bottom ui-li-last"><div class="ui-btn-inner ui-li ui-corner-top"><div class="ui-btn-text"><a data-rel="back" id="srpsearchagainlink" class="especialcenteralign ui-link-inherit" href="#">Search Again</a></div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
            </ul>
        </div>
        <div style="display: none;"><!-- placeholder for compare-vehicle --></div>
        <img src="" width="1px" height="1px">
    </div>
</div>                       