
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body class="noscroll">
    <div id="zoomScroll">
        <div class="fixtomid">
            <div align="center">
                <h3 style="color:green;">Gửi yêu cầu đăng ký đại lý thành công.</h3>
            </div>
            <div align="center">Chúc mừng bạn đã đăng ký đại lý thành công. Hệ thống sẽ tự động đăng nhập sau 3 giây.</div>
        </div>
    </div>
</body>
</html>
