﻿<div class="js-manufacturerIncentives">
    <div class="js-mi-widget">
        <div class="alert-message notification">
            <span>
                Hiện tại chưa có dữ liệu.
            </span>
            <p>Vienauto.com sẽ cập nhật thông tin sớm nhất có thể.</p>
        </div>
    </div>
</div>

