﻿@using Vienauto.Mobile.Models.View
@model EntertainmentModelDetail

<div class="pad-box">    
    @if (Model != null)
    {
        @Html.Partial("_Inform")
        <div class="row">
            <div class="col-md-6">
                <ul class="list">
                    <li>Radio: @Model.Radio</li>
                    <li>CD Player: @Model.CDPlayer</li>
                    <li>DVD Audio: @Model.DVDAudio</li>
                    <li>Nhận dạng giọng nói: @Model.SpeechRecognition</li>
                    <li>Loa: @Model.Speakers</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list">
                    <li>Bộ khuếch đại: @Model.Amplifier</li>
                    <li>Hỗ trợ Bluetooth: @Model.BluetoothCompatibility</li>
                    <li>Hỗ trợ Wifi: @Model.WifiCompatibility</li>
                    <li>Hỗ trợ 3G: @Model.ThreeGCompatibility</li>
                    <li>Định vị toàn cầu: @Model.GPSCompatibility</li>
                </ul>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_NoData")
    }
</div>