﻿@using Vienauto.Mobile.Models.View
@model ExteriorModelDetail

@if (Model != null)
{
    @*<div class="embed-responsive embed-responsive-16by9" style="display: none;">
        @Html.Raw(Model.FlashExterior)
    </div>
    <div class="row-end">
    </div>*@
    @Html.Partial("_Inform")
    <div class="row">
        <div class="col-md-6">
            <ul class="list">
                <li>Thông số lốp trước: @Model.FrontTires</li>
                <li>Thông số lốp sau: @Model.BackTires</li>
                <li>Thông số mâm: @Model.Wheels</li>
                <li>Cửa sổ trời: @Model.SunRoof</li>
                <li>Loại cửa sau: @Model.BackWindowType</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list">
                <li>Sổ cửa: @Model.NumberOfDoors</li>
                <li>Kính hậu: @Model.RearviewMirror</li>
                <li>Xông kính: @Model.HeatedDoorMirror</li>
                <li>Cảm biến mưa: @Model.WindshieldWipes</li>
                <li>Hệ thống nâng hạ gầm: @Model.LiftingSystem</li>
            </ul>
        </div>
    </div>
}
else
{
    @Html.Partial("_NoData")
}