﻿@using Vienauto.Mobile.Configuration;
@using Vienauto.Mobile.Models.View.CarForSell;
@model CarForSellDetail

@Styles.Render(AppSetting.BundleCssSellPath)
@Scripts.Render(AppSetting.BundleJsSellPath)

<div data-role="content" class="ui-content sell-content" role="main">
    @Html.HiddenFor(x => x.ManufacturerId, new { id = "current-manufactureId" })
    @Html.HiddenFor(x => x.ModelId, new { id = "current-modelId" })
    @Html.HiddenFor(x => x.YearId, new { id = "current-yearId" })
    @Html.HiddenFor(x => x.CarId, new { id = "current-carId" })
    @Html.HiddenFor(x => x.ProductId, new { id = "current-productId" })
    <h2 class="price-mileage">
        <a href="@Url.Action("Index", "Model", new {
                manufacturer = Model.ManufacturerName,
                model = Model.ModelName,
                year = Model.YearName })">
            @Model.YearName @Model.ManufacturerName @Model.ModelName
        </a>
    </h2>
    <h4 class="price-mileage">@Model.CarName</h4>
    <h4 class="price-mileage">@Model.StyleName</h4>
    <p class="price-mileage">
        <img src="@Model.Avatar"
             alt="@Model.YearName @Model.ManufacturerName @Model.ModelName" class="vehicle-photo">
    </p>
    <div class="common-model-info price-mileage">
        <div class="container-fluid">
            <hr/>
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Mã xe:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Hãng:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Đời xe:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Kiểu dáng:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Xuất xứ:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Tình trạng:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Số VIN:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Bảo hành:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Giá bán:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
            <hr />
            <div class="row sell-describe">
                <div class="col-xs-5">
                    Chiết khấu DL:
                </div>
                <div class="col-xs-7">
                    <strong>ABC</strong>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#section-overview">Tổng quan</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-technology">Thông số</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-image">Hình ảnh</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-style">Giải trí / Màu sắc</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-view">Nội ngoại thất</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="section-overview" class="tab-pane fade in active">
        </div>
        <div id="section-technology" class="tab-pane fade">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="tab" href="#section-engine">Động cơ</a>
                </li>
                <li><a data-toggle="tab" href="#section-safety">An toàn</a></li>
            </ul>
            <div class="tab-content">
                <div id="section-engine" class="tab-pane fade in active">
                </div>
                <div id="section-safety" class="tab-pane fade">
                </div>
            </div>
        </div>
        <div id="section-image" class="tab-pane fade">
        </div>
        <div id="section-style" class="tab-pane fade">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#section-entertainment">Giải trí</a></li>
                <li><a data-toggle="tab" href="#section-color">Màu sắc</a></li>
            </ul>
            <div class="tab-content">
                <div id="section-entertainment" class="tab-pane fade in active">
                </div>
                <div id="section-color" class="tab-pane fade">
                </div>
            </div>
        </div>
        <div id="section-view" class="tab-pane fade">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#section-interior">Nội thất</a></li>
                <li><a data-toggle="tab" href="#section-exterior">Ngoại thất</a></li>
            </ul>
            <div class="tab-content">
                <div id="section-interior" class="tab-pane fade in active">
                </div>
                <div id="section-exterior" class="tab-pane fade">
                </div>
            </div>
        </div>
    </div>
</div>
