﻿@using Vienauto.Mobile.Models.View;
@using Vienauto.Mobile.Models.View.CarForSell;
@using Vienauto.Mobile.Configuration;
@model CarForSellDetail

@Styles.Render(AppSetting.BundleCssSellPath)
@Scripts.Render(AppSetting.BundleJsSellPath)

<div class="ui-content sell-content" role="main" style="min-height: 526px;">
           
        <ul id="filter-list" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Hãng xe</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-brand" class="ui-btn no-border">                                
                                <i class="glyphicon glyphicon-chevron-down"></i>         
                            </div>
                        </div>
                    </div>                     
                </div>      
            </li>    
            <li id="srp-list-content-brand" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Mức giá</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-price" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-price" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Kiểu dáng</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-model" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-model" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Chỗ ngồi</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-seat" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-seat" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Nhiên liệu</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-fuel" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-fuel" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Kiểu dẫn động</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-tranmission-type" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-tranmission-type" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Năm sản xuất</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-year" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-year" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Hộp số</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-gear" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-gear" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
            <li id="srp-list-header" class="listdivider ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <div class="ui-btn ui-btn-up-d ui-shadow ui-btn-corner-all" aria-disabled="false">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <span class="ui-btn-text">Phân phối tại</span>
                            </span>
                            <input type="button" value="Filter" id="filterbttn" class="ui-btn-hidden" aria-disabled="false">
                        </div>
                    </div>
                    <div class="ui-block-b" id="sortDropDown">
                        <div class="ui-select">
                            <div id="show-filter-distribution" class="ui-btn no-border">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </div>                
            </li>
            <li id="srp-list-content-distribution" class="ui-li ui-li-static ui-btn-up-d ui-corner-top" style="display: none">
                <div class="filter-content">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            Option one is this and that
                        </label>
                    </div>
                </div>
            </li>
        </ul>
    <div id="search_results">
        <h2 id="srp-title">
            Tìm thấy 1622 xe
        </h2>
        <div class="alert_message error"><span></span></div>
        <ul id="vehiclerecord-list" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            <li id="profileSaveForm" class="ui-li ui-li-static ui-btn-up-d" style="display: none;">
                <div class="saved-search-tray">
                    <div id="save-search-errors" class="val-error"></div>
                    <label>Name Your Search</label>
                    <input id="profileSaveName" type="text" maxlength="100" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset">
                    <p class="formHelpText ui-li-desc">100 characters max., only use supported special characters: / - : , . ' &amp; $ &lt; &gt;</p>
                    <div class="ui-btn ui-btn-up-r ui-shadow ui-btn-corner-all ui-submit ui-disabled" aria-disabled="true">
                        <span class="ui-btn-inner ui-btn-corner-all">
                            <span class="ui-btn-text">Save</span>
                        </span>
                        <input id="profileSaveButton" type="submit" class="js-submit primary ui-btn-hidden mobile-button-disabled ui-state-disabled" value="Save" disabled="disabled" aria-disabled="true">
                    </div>
                    &nbsp; <a id="profileCancelButton" href="#" class="ui-link">Cancel</a>
                </div>
            </li>
            <li id="685165076" class="vehicle-record ui-li ui-li-static ui-btn-up-d">
                <div class="clearfix">
                    <div class="left">
                        <div class="img-container">
                            <img class="lazy" src="http://images.cars.com/results/1/5/1/71/6c686437b1a5a303a3bbc82ecc9.jpg" style="display: inline;">
                        </div>
                        <div class="clearfix">&nbsp;</div>
                    </div>
                    <div class="right">
                        <h3 class="ui-li-heading">
                            <a id="vdplink_685165076" class="ui-link" href="#">
                                2016 Honda CR-V Touring
                            </a>
                        </h3>
                        <p class="ui-li-desc">
                            <strong>
                                <span class="list-price larger">$34,395</span>
                                <span class="msrp smaller"> | MSRP $34,395 </span>
                            </strong>
                            <br>
                            <strong>Color</strong>: White Diamond Pearl
                        </p>
                        <p class="ui-li-desc">
                            Cerritos, CA <span class="mileAway">(12 miles away)</span>
                        </p>
                        <p class="ui-li-desc">
                            <span class="sellerName">Norm Reeves Honda Superstore Cerritos</span>
                        </p>
                        <p class="phone-number ui-li-desc">
                            <a class="ui-link phone-traking" href="tel:888-221-4928">888-221-4928</a>
                        </p>
                        <p class="ui-li-desc"></p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="load-more-results">
            <a class="load-more ui-link" href="#" style="visibility: visible;">Xem Thêm</a>
        </div>
        <div id="srpnoresults" style="display: none;">
            <ul class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                <li class="ui-btn ui-btn-up-a ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-top ui-corner-bottom ui-li-last">
                    <div class="ui-btn-inner ui-li ui-corner-top">
                        <div class="ui-btn-text">
                            <a id="srpsearchagainlink" class="especialcenteralign ui-link-inherit" href="#">Search Again</a>
                        </div>
                        <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                    </div>
                </li>
            </ul>
        </div>
        <div style="display: none;"><!-- placeholder for compare-vehicle --></div>
        <img src="" width="1px" height="1px">
    </div>
</div>
