﻿@using Vienauto.Mobile.Models.Form;
@using Vienauto.Mobile.Configuration;
@model ReviewInputAgency

@Scripts.Render(AppSetting.BundleJsBootstrapRatingPath)
@Scripts.Render(AppSetting.BundleJsAgencyPath)

<div id="modal-reviews-agent" class="modal in" tabindex="-1" role="dialog" style="display:block; overflow-x:hidden; overflow-y: auto">
    <div class="modal-dialog">
        <div class="modal-content animated bounceIn">
            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form-reviews-agent", name = "form-reviews-agent" }))
            {            
                @Html.AntiForgeryToken();
                   <fieldset>
                            <div class="modal-header">
                        <button type="button" class="close modal-close">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4 class="modal-title" style="color: #7B2787;">Đánh giá đại lý</h4>
                    </div>
                    <div class="modal-body">
                        <div id="panel_reviews_notcomplete">
                            <div>
                                Đánh giá của bạn sẽ giúp rất nhiều cho khách hàng của chúng tôi khi giao dịch
                                tại đại lý này. Theo nhận định riêng của bạn +
                                <span id="product_need_reviews" style="font-weight: bold;">@Model.AgentName</span>
                                đạt bao nhiêu sao (5 sao là tuyệt đối).
                            </div>
                            <div style="padding-top: 30px;">
                                <div><b>Đánh giá chung:</b></div>
                                <ul style="line-height: 30px;">
                                    <li>
                                        <p>Dịch vụ khách hàng:</p>
                                        @Html.TextBoxFor(x => x.CustomerService, new { @id = "customer_service", @class = "rating" })
                                        @*<input id="customer_service" type="hidden" class="rating" data-fractions="1" required />*@
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.CustomerService)
                                    </li>
                                    <li>
                                        <p>Thủ tục mua bán: </p>
                                        @Html.TextBoxFor(x => x.BuyingProcess, new { @id = "buying_process", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.BuyingProcess)
                                    </li>
                                    <li>
                                        <p>Chất lượng bảo trì:</p>
                                        @Html.TextBoxFor(x => x.QualityRepair, new { @id = "quality_of_repair", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.QualityRepair)
                                    </li>
                                    <li>
                                        <p>Tiện lợi:</p>
                                        @Html.TextBoxFor(x => x.Facilities, new { @id = "overall_facilities", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.Facilities)
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <b>Nhận xét</b>
                                <div align="center" style="margin-top: 20px;">
                                    @Html.TextBoxFor(x => x.TitleReview, new { @id = "title_reviews", @placeholder = "Tiêu đề đánh giá", @class = "input-register" })
                                    @*<input class="input-register" placeholder="Tiêu đề đánh giá" id="title_reviews" type="text" />*@
                                    @Html.ValidationMessageFor(x => x.TitleReview)

                                    @Html.TextBoxFor(x => x.Name, new { @id = "fullname", @placeholder = "Họ và tên", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Name)

                                    @Html.TextBoxFor(x => x.Email, new { @id = "email", @placeholder = "Email", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Email)

                                    @Html.TextBoxFor(x => x.Phone, new { @id = "phone", @placeholder = "Số điện thoại", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Phone)
                                    @Html.TextAreaFor(x => x.ContentReview, new { @id = "content_reviews", @placeholder = "Nhận xét của bạn", @class = "input-register", @rows = "5" })
                                    @Html.ValidationMessageFor(x => x.ContentReview)
                                    <div id="error_content" class="text-danger" style="width: 100%; text-align: left;">
                                        @ViewBag.ErrorMessage
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_submit_reviews" type="button" class="btn btn-primary" data-href="/Agency/SaveAgencyReview">Đánh giá</button>
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Đóng</button>
                    </div>
                </fieldset>            
            }             
        </div>
    </div>
</div>
