﻿@using Vienauto.Mobile.Models.View;
@model PagingDataComponent<AgencyReviewViewModel>

@if (Model.DataList != null)
{
    <ul id="agent-review-list">
        @foreach (var agentReview in Model.DataList)
        {
            <li>
                <h4>@agentReview.UserName</h4>
                <div class="dealer-review-container">
                    <div class="rating dealer cf">
                        <div class="wrapper" style="background-position:@agentReview.MaxRating 0px;">
                            <div class="value"></div>
                        </div>
                        <div class="detail">(@agentReview.MaxOverall)</div>
                    </div>
                    <p class="reviewer-info">
                        bởi @agentReview.UserName | @agentReview.DatePost.ToShortDateString()
                    </p>
                    <p class="dealer-review-text">
                        @agentReview.Content
                    </p>
                </div>
            </li>
        }
    </ul>
    <div class="load-more-results">
        @{ Html.RenderPartial("_Paging", Model); }
    </div>
}
