﻿@using Vienauto.Mobile.Configuration;
@using Vienauto.Mobile.Models.View;
@model PagingDataComponent<AgencyDetail>

@if (Model.DataList != null)
{
    <ul class="results drp ui-listview ui-listview-inset ui-corner-all ui-shadow">
        @foreach (var agency in Model.DataList)
        {
            <li>
                <div class="partyHeader">
                    <h3>
                        <span class="agency-manufacturer">
                            <a href="@Url.Action("Detail", "Agency", 
                                     new { agencyUserId = agency.UserId, manufacturerId = agency.ManufacturerId, agentId = agency.AgencyId })">
                                <img src="@AppSetting.RootURL/Upload/@agency.Avatar" height="80" width="100" />
                            </a>
                        </span>
                        @Html.ActionLink(agency.CompanyName,
                                         "Detail", "Agency",
                                         new { agencyUserId = agency.UserId, manufacturerId = agency.ManufacturerId, agentId = agency.AgencyId },
                                         new { @class = "js-dealer-name ui-link" })
                    </h3>
                    <a href="javascript:void(0)" class="partyDistance js-map-url ui-link">
                        <span>
                            @agency.ProvinceName
                        </span>
                    </a>
                </div>
                @{
                    <div class="rating dealer">
                        <div class="wrapper" style="background-position:@agency.MaxRating 0px;">
                            <div class="value">
                            </div>
                        </div>
                        <div class="detail">
                            <span class="overall-rating">(@agency.MaxOverall)</span>
                            @Html.ActionLink(agency.TotalReviews.ToString() + " đánh giá", 
                                             "Review", "Agency",
                                             new {
                                                 agentId = agency.AgencyId,
                                                 manufacturerId = agency.ManufacturerId
                                             },
                                             new { @class = "js-read-reviews ui-link" })
                        </div>
                    </div>
                }
                <div class="contactInfo">
                    <address class="clearfix">
                        @agency.Address
                    </address>
                </div>
                <div class="phone-number">
                    <span class="type">Xe mới</span>
                    <span class="number js-dealer-new-phone"><a href="tel:@agency.NewPhone" class="ui-link">@agency.NewPhone</a></span>
                </div>
                <div class="phone-number">
                    <span class="type">Xe cũ</span>
                    <span class="number js-dealer-used-phone"><a href="tel:@agency.OldPhone" class="ui-link">@agency.OldPhone</a></span>
                </div>
                <div class="phone-number">
                    <span class="type">Dịch vụ</span>
                    <span class="number js-dealer-service-phone"><a href="tel:@agency.Service" class="ui-link">@agency.Service</a></span>
                </div>
            </li>
        }
    </ul>
    { Html.RenderPartial("_Paging", Model); }
}
