﻿@using Vienauto.Mobile.Configuration;
@using Vienauto.Mobile.Models.View;
@model AgencyDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(AppSetting.BundleCssAgencyPath)
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi3z-pIe5ZeEEFyyivrVh2hJ-DkZxBiJY&language=vi"></script>
@Scripts.Render(AppSetting.BundleJsAgencyPath)

<div id="agency-detail-page" data-role="content" class="ui-content agency-content" role="main" style="min-height: 526px;">
    <div>
        <h1>@Model.CompanyName</h1>
        <p>
            <img src="@AppSetting.RootURL/Upload/@Model.Avatar" height="80" width="100" />
        </p>
        <div class="rating dealer cf">
            <div class="wrapper dlprofile-reviews" style="background-position:@Model.MaxRating 0px;">
                <div class="value">
                </div>
            </div>
            <div class="detail">
                <span class="overall-rating">(@Model.MaxOverall)</span>
                @Html.ActionLink(Model.TotalReviews.ToString(), 
                                 "Review", "Agency",
                                 new
                                 {
                                    agentId = Model.AgencyId,
                                    manufacturerId = Model.ManufacturerId
                                 },
                                 new { @class = "js-read-reviews ui-link" }) đánh giá
            </div>
            <div class="contactInfo">
                <br />
                <address class="clearfix">
                    @Model.Address
                </address>
            </div>
            <div class="phone-number">
                <span class="type">Xe mới</span>
                <span class="number js-dealer-new-phone"><a href="tel:@Model.NewPhone" class="ui-link">@Model.NewPhone</a></span>
            </div>
            <div class="phone-number">
                <span class="type">Xe cũ</span>
                <span class="number js-dealer-used-phone"><a href="tel:@Model.OldPhone" class="ui-link">@Model.OldPhone</a></span>
            </div>
            <div class="phone-number">
                <span class="type">Dịch vụ</span>
                <span class="number js-dealer-service-phone"><a href="tel:@Model.Service" class="ui-link">@Model.Service</a></span>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <a class="snr-icons ui-btn ui-btn-up-r ui-shadow ui-btn-corner-all"
                       href="tel:@Model.NewPhone">
                        <span class="ui-btn-inner ui-btn-corner-all">
                            <span class="ui-btn-text">Gọi</span>
                            <span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span>
                        </span>
                    </a>
                </div>
                <div class="ui-block-b">
                    <a class="snr-icons ui-btn ui-btn-up-r ui-shadow ui-btn-corner-all"
                       href="mailto:@Model.Email">
                        <span class="ui-btn-inner ui-btn-corner-all">
                            <span class="ui-btn-text">Email</span>
                        </span>
                    </a>
                </div>
                <div class="ui-block-c">
                    <a class="snr-icons ui-btn ui-btn-up-r ui-shadow ui-btn-corner-all"
                       href="@Model.Website">
                        <span class="ui-btn-inner ui-btn-corner-all">
                            <span class="ui-btn-text">Website</span>
                        </span>
                    </a>
                </div>
            </div>
            <div style="display: none;"><!-- placeholder --></div>
        </div>
        <div class="map-preview-container">
            <input type="hidden" id="toadomap" value="@Model.Coordinates" />
            <input type="hidden" id="zoommap" value="@Model.ZoomMap" />
            <div id="map" class="map-preview"></div>
        </div>
        <div style="padding-top: 5px">
            <div>
                <a class="ui-link">Giờ mở cửa</a>
            </div>
            <div>
                <div style="padding-top: 5px;">
                    @if (Model.DateTimeFullSale.Count == 0 && Model.DateTimeFullService.Count == 0)
                    {
                        <span>Hiện tại chưa có lịch</span>
                    }
                    else if (Model.DateTimeOpenSale.Count == 0 && Model.DateTimeOpenService.Count == 0)
                    {
                        <span>Chưa có ngày giờ mở cửa</span>
                    }
                    else
                    {
                        foreach (KeyValuePair<string, string> openSaleTime in Model.DateTimeOpenSale)
                        {
                            <strong style="float: right"> Bán hàng </strong>
                            <span style="width:70px; display:inline-block;">
                                @openSaleTime.Key
                            </span>
                                @openSaleTime.Value
                                <br />
                        }
                        foreach (KeyValuePair<string, string> openServiceTime in Model.DateTimeOpenService)
                        {
                            <strong style="float: right"> Dịch vụ </strong>
                            <span style="width:70px; display:inline-block;">
                                @openServiceTime.Key
                            </span>
                                @openServiceTime.Value
                                <br />
                        }
                    }
                </div>
            </div>
        </div>
        <div class="content-calendar" style="padding-top: 15px">
            <div>
                <a class="ui-link collapse-link">Xem lịch <i class="fa fa-chevron-down"></i></a>
            </div>
            @if (Model.DateTimeFullSale.Count == 0 && Model.DateTimeFullService.Count == 0)
            {
                <span>Hiện tại chưa có lịch</span>
            }
            else
            {
                <div class="content-hours" style="margin-top: 5px; display: none;">
                    <div style="display: block; margin-right: 20px;">
                        <strong>Bán hàng</strong>
                        <p>
                            @foreach (KeyValuePair<string, string> fullSaleTime in Model.DateTimeFullSale)
                            {
                                <span style="width:70px; display:inline-block;">
                                    @fullSaleTime.Key
                                </span>
                                @fullSaleTime.Value
                                <br />
                            }
                        </p>
                    </div>
                    <div style="display: block">
                        <strong>Dịch vụ</strong>
                        <p>
                            @foreach (KeyValuePair<string, string> fullServiceTime in Model.DateTimeFullService)
                            {
                                <span style="width:70px; display:inline-block;">
                                    @fullServiceTime.Key
                                </span>
                                @fullServiceTime.Value
                                <br />
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
        <div style="margin-top: 15px;">
            <div>
                <h2 class="header">Xe đăng bán</h2>
                <ul class="sub-links margin-bottom-fix margin-top-fix ui-listview">
                    <li class="ui-btn ui-btn-up-a ui-btn-icon-right ui-li-has-arrow ui-li">
                        <div class="ui-btn-inner ui-li">
                            <div class="ui-btn-text">
                                <a class="inventoryLink ui-link-inherit sale-car-link">
                                    Xe mới
                                </a>
                            </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                        </div>
                    </li>
                    <li class="ui-btn ui-btn-up-a ui-btn-icon-right ui-li-has-arrow ui-li ui-li-last">
                        <div class="ui-btn-inner ui-li">
                            <div class="ui-btn-text">
                                <a class="inventoryLink ui-link-inherit sale-car-link">
                                    Xe cũ
                                </a>
                            </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
