﻿@using Vienauto.Mobile.Configuration;
@using Vienauto.Mobile.Models;
@using Vienauto.Mobile.Models.View;
@model PagingDataComponent<AgencyDetail>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(AppSetting.BundleCssAgencyPath)
@Scripts.Render(AppSetting.BundleJsAgencyPath)

<div id="agency-list-page" class="ui-content agency-content" role="main" style="min-height: 526px;">
    <div id="search-widget">
        <h2 id="search-title" style="display: none;">
            @*@Model.DataList.Count đại lý được tìm thấy*@
        </h2>
        @Html.HiddenFor(model => Request.Params["province"], new { id = "current-province" })
        @Html.HiddenFor(model => Request.Params["dealership"], new { id = "current-dealerShip" })
        <div class="row">
            <div class="col-xs-6">
                <a href="/" class="editSearch ui-link">Tìm kiếm đại lý</a>
            </div>
            <div class="col-xs-6" align="right" style="margin-top: 25px;">
                Hiển thị &nbsp;
                @Html.DropDownList("PageSize", BaseModel.DisplayItemsPerPage(), new { id = "items-per-page" })
            </div>
        </div>
        <div class="ui-select">
            <div class="ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-right ui-btn-up-a">
                <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text agency-sort-name">
                        <span>Đại lý</span>
                    </span>
                    <span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span>
                </span>
                <select name="sortBy" id="sort-by">
                    <option value="Province">Tỉnh thành</option>
                    <option value="Agency">Đại lý</option>
                    <option value="Rating">Đánh giá</option>
                </select>
            </div>
        </div>
        <div class="load-more-results"></div>
    </div>
    <div id="agency-list">
        @{ Html.RenderPartial("_AgenciesContent", Model); }        
    </div>
</div>
