﻿@using Vienauto.Mobile.Configuration;
@using Vienauto.Mobile.Models.View;
@model AgencyReviewDetail

@Styles.Render(AppSetting.BundleCssAgencyPath)
@Scripts.Render(AppSetting.BundleJsAgencyPath)

<div id="agency-review-page" data-role="content" class="ui-content agency-content detail-review-content" role="main" style="min-height: 526px;">
    <div id="review-subheader">
        @Html.HiddenFor(model => model.AgentId, new { id = "current-dealerShip" })
        @Html.HiddenFor(model => model.ManufacturerId, new { id = "current-manufacturer" })
        @Html.HiddenFor(model => model.AgentName, new { id = "dealerShip-name" })
        <h1 style="text-align: center;">@Model.AgentName</h1>
        <p style="text-align: center;">
            <img src="@AppSetting.RootURL/Upload/@Model.Avatar" height="80" width="100" />
        </p>
        <div id="writeReviewLink">
            <span class="write-review-link" style="margin-bottom: 20px;">
                <a href="#" id="write-to-reviews">Viết đánh giá</a>
            </span>
        </div>
        <table class="overall-rating">
            <tbody>
                <tr>
                    <td><strong>Đánh giá tổng thể</strong></td>
                    <td>
                        <div class="rating dealer">
                            <div class="wrapper" style="background-position:@Model.OverallPoint 0px;">
                                <div class="value"></div>
                            </div>
                            <div class="detail">(@Model.Overall)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Chăm sóc khách hàng </td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width:@Model.CustomerServicePoint;"></div>

                            </div>
                            <div class="detail">(@Model.CustomerService)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Thủ tục mua bán</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width:@Model.QualityRepairPoint;"></div>

                            </div>
                            <div class="detail">(@Model.QualityRepair)</div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>Chất lượng bảo trì</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width:@Model.BuyingProcessPoint;"></div>

                            </div>
                            <div class="detail">(@Model.BuyingProcess)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Tiện lợi</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width:@Model.FacilitiesPoint;"></div>
                            </div>
                            <div class="detail" style="">(@Model.Facilities)</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="sortSelector">
            <strong id="model-total-reviews">@Model.TotalReviews</strong> đánh giá
        </div>
    </div>
    <hr>
    <div id="agent-review-list" class="dealer-review">
        @{ Html.RenderPartial("_AgenciesReviewsContent", new PagingDataComponent<AgencyReviewViewModel>()); }
    </div>
<div id="form-reviews"></div>
</div>
