﻿.fa {
    color: #fff;
}

.fa-angle-right {
    width: 9px;
    height: 20px;
    margin-left: 10px;
    display: inline-block;
}

.field-validation-error {
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

p.error, label.error, .field-validation-error {
    color: #d85858;
    font-size: 12.5px;
    font-weight: bold;
}

.active {
    display: inline-block !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

img {
    border: none;
}

.js-manufacturer, .js-model, .js-year, .js-car {
    margin-bottom: 10px;
}

.price-slider {
    margin-bottom: 70px;
}

.form-group span.price {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
}

.price, .lead p {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    line-height: 60px;
}

.price-form {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

.ajax-loading-container {
    overflow: auto;
    position: relative;
}

img.small-loading {
    top: 49%;
    left: 49%;
    width: 32px;
    height: 32px;
    position: absolute;
}

@media only screen and (min-width : 769px) {
    /* Closes the Panel on window resize from small to large. */
    /* Important tags aren't always bad otherwise you can close with JS on resize. */
    .scotch-panel-canvas {
        -o-transform: translate3d(0px, 0px, 0px) !important;
        -ms-transform: translate3d(0px, 0px, 0px) !important;
        -moz-transform: translate3d(0px, 0px, 0px) !important;
        -webkit-transform: translate3d(0px, 0px, 0px) !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }
}

