﻿.home_header {
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
}

    .home_header h1 {
        color: #532380;
        font-size: 23px;
        font-family: Arial;
        font-weight: bold;
    }

.car_booking_selection {
    background-color: #fff; /*#EEE;*/
    /*background-image: -moz-linear-gradient(0% 25% 270deg, #fafafa, #D9D9D9);
    background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#fafafa),to(#D9D9D9),color-stop(1,#aaaaaa));*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    margin-bottom: 6px;
    min-height: 120px;
    padding: 10px;
    width: 100%;
}

.car_booking_selection_form {
    width: 100%;
}

.car_booking_header {
    float: left;
    width: 100%;
    font-weight: bold;
    padding: 10px 18px;
    margin: 5px 0 20px 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #532380;
}

    .car_booking_header h3 {
        margin: 0;
        color: #fff;
        font-size: 20px;
        text-align: center;
        text-shadow: black 1px 1px;
        font-family: 'Source Sans Pro', sans-serif;
    }

.car_booking_form {
    width: 100%;
    height: auto;
    font-size: 12px;
    background: #fff;
    min-height: 500px;
}

.fl {
    float: left;
}

.agentImage {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

ul#carColor {
    margin: 0;
    padding: 0;
    width: 300px;
    overflow: auto;
    list-style-type: none;
}

    ul#carColor li {
        border: 1px solid #CCCCCC;
        float: left;
        height: 20px;
        margin: 5px;
        width: 20px;
    }

        ul#carColor li.select {
            border: 2px solid #FF0000;
            box-shadow: 0 0 1px 1px #FF0000;
        }

.car_booking_form input, .car_booking_form select, .car_booking_form textarea, .car_booking_form button {
    font-family: Arial, Helvetica, sans-serif /*{global-font-family}*/;
    font-size: 12px;
}

.no-grey {
    background: #fff !important;
}

/* Color box */
ul#carColor li.select-color {
    border: 2px solid #FF0000;
    box-shadow: 0 0 1px 1px #FF0000;
}

ul#carColor li.black {
    background-color: Black;
}

ul#carColor li.blue {
    background-color: Blue;
}

ul#carColor li.brozone {
    background-color: #CD7F32;
}

ul#carColor li.brown {
    background-color: brown;
}

ul#carColor li.burgundy {
    background-color: #900020;
}

ul#carColor li.green {
    background-color: green;
}

ul#carColor li.gray {
    background-color: Gray;
}

ul#carColor li.magenta {
    background-color: #FF0090;
}

ul#carColor li.maroon {
    background-color: #800000;
}

ul#carColor li.navy {
    background-color: Navy;
}

ul#carColor li.orange {
    background-color: Orange;
}

ul#carColor li.pink {
    background-color: #FF00FF;
}

ul#carColor li.purple {
    background-color: Purple;
}

ul#carColor li.red {
    background-color: Red;
}

ul#carColor li.white {
    background-color: White;
}

ul#carColor li.yellow {
    background-color: Yellow;
}
/* End color box */
