﻿<ul class="sub-links ui-listview" style="display: none;">
    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a id="forgotPasswordLink" class="ui-link-inherit">Forgot your password?</a>
            </div>
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
        </div>
    </li>
    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-last ui-btn-up-a">
        <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
                <a id="signUpLink" href="/Account/Register" class="ui-link-inherit">Bạn muốn là thành viên của Vienauto.com? Đăng ký ngay bây giờ.</a>
            </div>
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
        </div>
    </li>
</ul>
