﻿@using Vienauto.Mobile.Configuration
@model Vienauto.Mobile.Models.Form.Account
@{
    Layout = null;
}

@Styles.Render(AppSetting.BundleCssRegisterPath)
@Scripts.Render(AppSetting.BundleJsJqueryPath)

<script>
    function redirectLogin() {
        setTimeout(function () {
            $("#redirect-login-form").submit();
        }, 3500);
    }
</script>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body class="noscroll" onload="redirectLogin();">
    @{
        if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary()))
        {
            <div class="alert_message error">
                <span>
                    @Html.ValidationSummary()
                </span>
            </div>
        }
    }
    @using (Html.BeginForm("SignIn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                                                    new { id = "redirect-login-form", name = "redirect-login-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="redirect-container">
            <div class="redirect-content">
                @Html.HiddenFor(x => x.UserName)
                @Html.HiddenFor(x => x.PassWord)
                @Html.HiddenFor(x => x.RememberMe)
                @if (Model.IsUserRegistered)
                {
                    <div align="center">
                        <h3 class="title">Đăng ký thành viên thành công.</h3>
                    </div>
                    <div align="center">Chúc mừng bạn đã đăng ký thành viên thành công. Hệ thống sẽ tự động đăng nhập sau 3 giây.</div>
                }
                else
                {
                    <div align="center">
                        <h3 class="title">Gửi yêu cầu đăng ký đại lý thành công.</h3>
                    </div>
                    <div align="center">Chúc mừng bạn đã đăng ký đại lý thành công. Hệ thống sẽ tự động đăng nhập sau 3 giây.</div>
                }
                <br/>
                <span align="center" class="redirect-loading"></span>
            </div>
        </div>
    }
</body>
</html>
