﻿<div class="gigyaButtonWrapper" style="display: none;">
    <div class="gigyaButton" id="gigyaLoginButton" style="width: 100px; height: 30px;">
        <table width="100%" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;border:0px;line-height: normal;font-family:arial;background-color:transparent;vertical-align: middle; width: 100px; height: 30px;">
            <tr>
                <td style="vertical-align:middle;margin:0px;padding:0px;border:0px;">
                    <center>
                        <table style="margin:0px;padding:0px;border:0px;vertical-align:middle; height: 30px;width:100%" align="center" cellspacing="0" cellpadding="0">
                            <tr style="height:99%">
                                <td align="right" style="margin:0px;padding:0px;border:0px;vertical-align:middle;width:48%;text-align:right">
                                    <div align="right" style="text-align:right;width:auto"></div>
                                </td>
                                <td align="center" style="width:78px;margin:0px;padding:0px;border:0px;vertical-align:middle;white-space:nowrap" id="gigyaLoginButton_page">
                                    <table align="center" cellspacing="0" cellpadding="0" style="margin: 0px; padding: 0px; border: 0px;" id="gigyaLoginButton_p0">
                                        <tr>
                                            <td align="center" style="margin:0px;padding:0px;border:0px;vertical-align:middle">
                                                <table align="left" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;border:0px;">
                                                    <tr>
                                                        <td style="margin:0px;padding:0px;border:0px;line-height: normal;font-family:arial;font-size:11px;color:#9b9b9b;text-align:center;vertical-align:top">
                                                            <center>
                                                                <div onclick="gigya.socialize.plugins.login.providerClick('gigyaLoginButton','facebook')" title="Facebook" alt="Facebook" style="zoom:1;cursor:pointer; width:78px;">
                                                                    <div gigid="facebook" style="width:78px; height:30px">
                                                                        <div style="background-image:url('https://cdns3.gigya.com/gs/GetSprite.ashx?path=%2FHTMLLogin%2FFullLogoColored%2F%5Bfacebook%5D_60.png%7C156%2C60');background-position:-0px 0px;background-size:78px 30px;width: 78px;height: 30px;line-height: 30px;background-repeat:no-repeat;position:static;"></div>
                                                                    </div>
                                                                </div>
                                                            </center>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="left" style="margin:0px;padding:0px;border:0px;vertical-align:middle;width:48%"></td>
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </div>
</div>
