﻿@using Vienauto.Interface.Result
@using Vienauto.Mobile.Configuration
@model Vienauto.Mobile.Models.Form.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Css -->
@Styles.Render(AppSetting.BundleCssRegisterPath)
<!-- Js -->
@Scripts.Render(AppSetting.BundleJsJqueryPath)
@Scripts.Render(AppSetting.BundleJsCorePath)
@Scripts.Render(AppSetting.BundleJsRegisterPath)

<div class="ui-content" style="min-height: 501px;">
    <h2 id="profile-title">Đăng ký thành viên</h2>
    
    @*<div id="selectOption">
            <input id="radMember" type="radio" name="form" checked />&nbsp;Dành cho thành viên
            <input id="radAgent" type="radio" name="form" />&nbsp;Dành cho hãng và đại lý
        </div>
        <ul id="tabs">
            <li id="liMember" class="tabMember active">Thông tin thành viên</li>
            <li id="liAgent" class="tabAgent">Thông tin hãng & đại lý</li>
        </ul>*@
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "frmRegister", name = "frmRegister" }))
    {
        @*@Html.ValidationSummary()*@
        var errors = ViewBag.ErrorMessage;
        if (errors != null)
        {
            var errorCodes = (List<ErrorDescriber>)errors;
            foreach (var error in errorCodes)
            {
                <div class="alert_message error">
                    <span>
                        @error.Code.ToString()
                    </span>
                </div>
            }
        }
        @Html.HiddenFor(x => x.IsRegsiterAgent)
        @*<ul id="tab">
            <li id="memberForm" class="tab active">*@
        <div style="padding: 5px; line-height: 25px;">
            <div id="show-if-have-no-login" style="position: relative;">
                <div>
                    <strong>Họ và chữ lót của bạn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Họ và chữ lót", @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line"></div>
                <div>
                    <strong>Tên của bạn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Tên", @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Địa chỉ email</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Email, new { @placeholder = "Địa chỉ email", @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Tạo mật khẩu</strong>
                </div>
                <div>
                    @Html.PasswordFor(x => x.Password, new { @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Xác nhận mật khẩu của bạn</strong>
                </div>
                <div>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Câu hỏi bí mật</strong>
                </div>
                @Html.DropDownListFor(x => x.QuestionId, Model.Questions, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.QuestionId, "", new { @class = "text-danger" })
                <div class="pt-line">
                    <strong>Câu trả lời của riêng bạn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Answer, new { @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.Answer, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Điện thoại bàn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.HomePhone, new { @class = "input-register form-control" })
                </div>
                <div class="pt-line">
                    <strong>Di động</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Mobile, new { @class = "input-register form-control" })
                </div>
                <div style="margin-top: 20px; line-height: 18px;">
                    @Html.CheckBoxFor(x => x.AgreeWithUs) Tôi đồng ý với <a href="javascript:;"
                                                                            onclick="window_location_newhash('#dieu-khoan-thanh-vien')">điều khoản thành viên</a>
                    và <a href="javascript:;" onclick="window_location_newhash('#chinh-sach-bao-mat')">
                        Chính sách bảo mật
                    </a> được ban hành bởi hệ thống <b>Vienauto.com</b>
                </div>
                <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r">
                    <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">Đăng ký thành viên</span>
                    </span>
                    <input id="btnUserRegister" type="submit" value="Đăng ký thành viên" class="primary ui-btn-hidden">
                </div>                
            </div>
        </div>
        @*</li>*@
        @*<li id="agentForm" class="tab">
                <div style="padding: 5px; line-height: 25px;">
                    <div id="show-register-agent" style="position: relative;">
                        <div>
                            <strong>Chọn hãng phân phối:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.DealerShipId, Model.DealerShips, new { @class = "select_custome form-control" })
                        <div class="pt-line">
                            Chọn đại lý:
                        </div>
                        @Html.DropDownListFor(x => x.AgentId, Model.Agents, new { @class = "form-control" })
                        <div class="pt-line">
                            <strong>Tên công ty: </strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.CompanyName, new { @class = "input-register form-control" })
                            @Html.ValidationMessageFor(x => x.CompanyName)
                        </div>
                        <div class="pt-line">
                            <strong>Địa chỉ giao dịch: </strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.TransactionAddress, new { @class = "input-register form-control" })
                            @Html.ValidationMessageFor(x => x.TransactionAddress)
                        </div>
                        <div class="pt-line">
                            <strong>Mã số thuế: </strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.TaxNumber, new { @class = "input-register form-control" })
                            @Html.ValidationMessageFor(x => x.TaxNumber)
                        </div>
                        <div class="pt-line">
                            <strong>Người đại diện: </strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.Deputy, new { @class = "input-register form-control" })
                            @Html.ValidationMessageFor(x => x.Deputy)
                        </div>
                        <div class="pt-line">
                            <strong>Điện thoại:</strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.AgentPhone, new { @class = "input-register form-control", @readonly = "readonly" })
                        </div>
                        <div class="pt-line">
                            <strong>Di động:</strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.AgentMobile, new { @class = "input-register form-control", @readonly = "readonly" })
                        </div>
                        <div class="pt-line">
                            <strong>Email:</strong>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.AgentEmail, new { @class = "input-register form-control", @readonly = "readonly" })
                        </div>
                        <div class="pt-line">
                            <strong>Vị trí:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.LocationId, Model.Locations, new { @class = "select_custome form-control" })
                        <div class="pt-line">
                            <strong>Tổng chi nhánh:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.TotalBranchId, Model.TotalBranches, new { @class = "select_custome form-control" })
                        <div class="pt-line">
                            <strong>Số xe giao dịch:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.NumberCarTransactionId, Model.NumberCarTransactions, new { @class = "select_custome form-control" })
                        &nbsp;&nbsp;&nbsp;Chiếc/tháng
                        <div class="pt-line">
                            <strong>Xe phân phối:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.CarDistributionId, Model.CarDistributions, new { @class = "select_custome form-control" })
                        <div class="pt-line">
                            <strong>Bạn cần tư vấn thêm:</strong>
                            @Html.RadioButtonFor(x => x.NeedConsultMore, new { @value = "Có" })
                            @Html.RadioButtonFor(x => x.NeedConsultMore, new { @value = "Không" })
                        </div>
                        <div class="pt-line">
                            <strong>Bạn có khách hàng nhờ:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.IntroduceCustomerId, Model.IntroduceCustomer, new { @class = "select_custome form-control" })
                        <div class="pt-line">
                            <strong>Khách hàng của bạn:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.YourCustomerId, Model.YourCustomer, new { @class = "select_custome form-control" })
                        <div class="pt-line">
                            <strong>Bạn biết chúng tôi nhờ:</strong>
                        </div>
                        @Html.DropDownListFor(x => x.HowToKnowUsId, Model.HowToKnowUs, new { @class = "select_custome form-control" })
                        <div style="line-height: 18px; margin-top: 20px;">
                            @Html.CheckBoxFor(x => x.IsUser, new { @class = "cb_check check" }) &nbsp;&nbsp;&nbsp;Bạn
                                là thành viên của Vienauto.com
                        </div>
                        <div style="line-height: 18px; margin-top: 20px;">
                            @Html.CheckBoxFor(x => x.CreateOrders, new { @class = "cb_check" }) &nbsp;&nbsp;&nbsp;Đề
                            nghị cung cấp một đơn hàng trước khi đăng ký.
                        </div>
                        <div align="center" class="pt-line" style="margin-top: 15px;">
                            <button type="submit" class="btn btn-primary" id="btnUserAgentRegister">Đăng ký đại lý</button>
                        </div>
                    </div>
                </div>
            </li>*@
        @*</ul>*@
    }
</div>
