﻿@using Vienauto.Interface.Result
@using Vienauto.Mobile.Configuration
@model Vienauto.Mobile.Models.Form.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(AppSetting.BundleCssRegisterPath)
@Scripts.Render(AppSetting.BundleJsJqueryPath)
@Scripts.Render(AppSetting.BundleJsCorePath)
@Scripts.Render(AppSetting.BundleJsRegisterPath)

<div class="ui-content" style="min-height: 501px;">
    <h2 id="profile-title">Đăng ký thành viên</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "frmRegister", name = "frmRegister" }))
    {
        @*@Html.ValidationSummary()*@
        var errors = ViewBag.ErrorMessage;
        if (errors != null)
        {
            var errorCodes = (List<ErrorDescriber>)errors;
            foreach (var error in errorCodes)
            {
                <div class="alert_message error">
                    <span>
                        @error.Code.ToString()
                    </span>
                </div>
            }
        }
        <div style="padding: 5px; line-height: 25px;">
            <div id="show-if-have-no-login" style="position: relative;">
                <div>
                    <strong>Họ và chữ lót của bạn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Họ và chữ lót", @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line"></div>
                <div>
                    <strong>Tên của bạn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Tên", @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Địa chỉ email</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Email, new { @placeholder = "Địa chỉ email", @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Tạo mật khẩu</strong>
                </div>
                <div>
                    @Html.PasswordFor(x => x.Password, new { @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Xác nhận mật khẩu của bạn</strong>
                </div>
                <div>
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Câu hỏi bí mật</strong>
                </div>
                @Html.DropDownListFor(x => x.QuestionId, Model.Questions, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.QuestionId, "", new { @class = "text-danger" })
                <div class="pt-line">
                    <strong>Câu trả lời của riêng bạn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Answer, new { @class = "input-register form-control" })
                    @Html.ValidationMessageFor(x => x.Answer, "", new { @class = "text-danger" })
                </div>
                <div class="pt-line">
                    <strong>Điện thoại bàn</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.HomePhone, new { @class = "input-register form-control" })
                </div>
                <div class="pt-line">
                    <strong>Di động</strong>
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Mobile, new { @class = "input-register form-control" })
                </div>
                <div style="margin-top: 20px; line-height: 18px;">
                    @Html.CheckBoxFor(x => x.AgreeWithUs) Tôi đồng ý với <a href="javascript:;"
                                                                            onclick="window_location_newhash('#dieu-khoan-thanh-vien')">điều khoản thành viên</a>
                    và <a href="javascript:;" onclick="window_location_newhash('#chinh-sach-bao-mat')">
                        Chính sách bảo mật
                    </a> được ban hành bởi hệ thống <b>Vienauto.com</b>
                </div>
                <br/>
                <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r">
                    <span class="ui-btn-inner ui-btn-corner-all">
                        <span class="ui-btn-text">Đăng ký</span>
                    </span>
                    <input id="btnUserRegister" type="submit" value="Đăng ký" class="primary ui-btn-hidden">
                </div>
            </div>
        </div>
    }
</div>
