﻿@using Vienauto.Mobile.Configuration
@model Vienauto.Mobile.Models.Form.Account

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(AppSetting.BundleCssLoginPath)
@Scripts.Render(AppSetting.BundleJsLoginPath)

<div class="ui-content" style="min-height: 501px;">
    <div id="profile-login">
        <h2 id="profile-title">Đăng nhập</h2>
        <div class="alert_message warning">
            <span></span>
        </div>
        <hr />
        <br />
        @{
            if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary()))
            {
                <div class="alert_message error"><span> @Html.ValidationSummary()</span></div>
            }
        }
        <br />
        @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { id = "profile-login-form", name = "profile-login-form" }))
        {
            @Html.AntiForgeryToken()
            @*<label for="email">Email</label>*@
            @Html.TextBoxFor(x => x.UserName, new
       {
           id = "email",
           name = "email",
           @class = "ui-input-text ui-body-a ui-corner-all ui-shadow-inset",
           placeholder = "Email",
           required = "true"
       })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })

            @*<label for="password">Mật khẩu</label>*@
            @Html.PasswordFor(x => x.PassWord, new
           {
               id = "password",
               name = "password",
               @class = "ui-input-text ui-body-a ui-corner-all ui-shadow-inset",
               placeholder = "Mật khẩu",
               required = "true"
           })
            @Html.ValidationMessageFor(x => x.PassWord, "", new { @class = "text-danger" })
            <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r">
                <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">Đăng nhập</span>
                </span>
                <input id="submit-login" type="submit" value="Đăng nhập" class="primary ui-btn-hidden" tabindex="2">
            </div>

        }
        @*<div class="orRule"></div>*@
        @{ Html.RenderPartial("_SocialSignIn"); }
        @{ Html.RenderPartial("_ForgotPassword"); }
    </div>
</div>
