﻿.pagination {
    margin: 0;
}

.agency-content {
    padding: 30px 15px 15px 15px;
}

.agency-manufacturer {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.reviewer-info {
    margin-top: 10px;
}

.phone-number {
    margin-top: 5px;
}

.dealer {
    /*margin-top: 10px !important;*/
}

.dealer-review-text {
    word-wrap:break-word;
}

.sale-car-link {
    font-size: 18px;
}

.rating-symbol {
    font-size: 3em;       
}

.label-star {
    font-size: 1.0em;
}

.glyphicon-star {
    color: #7B2787;
    font-size: 25px;
}

.glyphicon {
    font-size: 25px;
}

input.rating {
    display: none;
}

.load-more-results {
    margin-top: 20px;
}
