﻿@using Vienauto.Mobile.Models.View
@model InteriorModelDetail

@if (Model != null)
{
    @*<div class="embed-responsive embed-responsive-16by9" style="display: none;">
        @Html.Raw(Model.FlashInterior)
    </div>
    <div class="row-end">
    </div>*@
    @Html.Partial("_Inform")
    <div class="row">
        <div class="col-md-6">
            <ul class="list">
                <li>
                    Điều hòa trước:
                    @Model.FrontAirConditioning
                </li>
                <li>
                    Điều hòa sau:
                    @Model.BackAirConditioning
                </li>
                <li>
                    Bộ lọc không khí:
                    @Model.AirFilter
                </li>
                <li>Chỗ ngồi: @Model.Seating</li>
                <li>Loại ghế trước: @Model.FrontSeatType</li>
                <li>Gội đầu: @Model.Shampoo</li>
                <li>La bàn: @Model.Compass</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list">
                <li>Đồng hồ: @Model.Clocks</li>
                <li>Ổ cắm điện (V): @Model.DCPowerOutlet</li>
                <li>Máy đo tốc độ: @Model.Tachometer</li>
                <li>Máy đo nhiệt độ nước: @Model.WaterTempGauges</li>
                <li>Máy cảnh báo nhiên liệu: @Model.LowFuelWarning</li>
                <li>Hiển thị nhiệt độ ngoài: @Model.DisplayOutsideTemp</li>
            </ul>
        </div>
    </div>
}
else
{
    @Html.Partial("_NoData")
}