﻿@using Vienauto.Mobile.Models.View
@model SafetyModelDetail

<div class="pad-box">    
    @if (Model != null)
    {
        @Html.Partial("_Inform")
        <div class="row">
            <div class="col-md-6">
                <ul class="list">
                    <li>Túi khí trước: @Model.FrontAirbag</li>
                    <li>Túi khí bên: @Model.SideAirbag</li>
                    <li>Túi khí sau: @Model.BackAirbag</li>
                    <li>Đèn pha: <span class="upperName">@Model.HeadLights</span></li>
                    <li>Kiểm soát ánh sáng: @Model.ExteriorLightControl</li>
                    <li>Chiếu sáng ban ngày: @Model.DayLights</li>
                    <li>Đèn chiếu hậu: @Model.LedTailLights</li>
                    <li>Hỗ trợ đỗ xe: @Model.ParkingAssist</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list">
                    <li>Hệ thống báo động: @Model.AlarmSystem</li>
                    <li>Hệ thống khóa cửa: @Model.DoorLockSystem</li>
                    <li>Khóa an toàn: @Model.ChildLock</li>
                    <li>Hệ thống chống trộm: @Model.AntiTheftSystem</li>
                    <li>Cảnh báo áp suất thấp: @Model.LowPressureWarning</li>
                    <li>Loại phanh: @Model.Brakes</li>
                    <li>Hệ thống phanh ABS: @Model.ABSBrakes</li>
                    <li>Hỗ trợ phanh: <span class="upperName">@Model.BrakeAssist</span></li>
                </ul>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_NoData")
    }
</div>