﻿@using Vienauto.Mobile.Models.View
@model EngineModelDetail

<div class="pad-box">    
    @if (Model != null)
    {
        @Html.Partial("_Inform")
        <div class="row">
            <div class="col-md-4">
                <ul class="list">
                    <li>Động cơ: @Model.EngineName </li>
                    <li>Kiểu động cơ: @Model.EngineType</li>
                    <li>Tỷ số nén: @Model.CompressionRatio</li>
                    <li>Kiểu dẫn động: @Model.DrivingType</li>
                    <li>Loại hộp số: @Model.TranmissionType</li>
                    <li>Nhiên liệu: @Model.FuelType</li>
                    <li>Tiêu hao nhiên liệu (TP): @Model.FuelEconomyCity lít</li>
                    <li>Tiêu hao nhiên liệu (Cao tốc): @Model.FuelEconomyHighway lít</li>
                    <li>Dung tích bình nhiên liệu: @Model.Locking lít</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list">
                    <li>Cơ cấu van: @Model.EngineValvetrain</li>
                    <li>Hệ thống cân bằng điện tử (ESS): @Model.ESS</li>
                    <li>Hệ thống phanh điện tử (EBD): @Model.EBD</li>
                    <li>Điều khiển từ xa: @Model.RemoteVehicle</li>
                    <li>Cấp số: @Model.Tranmission</li>
                    <li>Chiều dài: @Model.ExteriorLength mm</li>
                    <li>Chiều rộng: @Model.ExteriorWidth mm</li>
                    <li>Chiều cao: @Model.ExteriorHeight mm</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list">
                    <li>Mã lực: @Model.HorsePower</li>
                    <li>Mômen xoắn: @Model.Torque</li>
                    <li>Hệ số cản: @Model.DragCoeficient</li>
                    <li>Thời gian tăng tốc (0-100km/h): @Model.TimeSpeed s</li>
                    <li>Tốc độ tối đa: @Model.Km km/h</li>
                    <li>Trọng lượng không tải: @Model.CurbWeight kg</li>
                    <li>Trọng lượng toàn tải: @Model.GVWR kg</li>
                </ul>
            </div>
        </div>
    }
    else
    {
        @Html.Partial("_NoData")
    }
</div>