﻿@using Vienauto.Mobile.Models.View;
@model PagingDataComponent<ModelsReviewsViewModel>

@if (Model.DataList != null)
{
    foreach (var modelReview in Model.DataList)
    {
        <div class="review-content">
            <div class="rating dealer">
                <div class="wrapper" style="background-position:@modelReview.OverallReview 0;">
                    <div class="value"></div>
                </div>
                <div class="detail">(@modelReview.Overall)</div>
            </div>
            <p class="reviewed-by">&nbsp; @modelReview.UserName</p> 
            <p>@modelReview.DatePost.ToShortDateString()</p>
            <div class="row">
                <div class="col-lg-7">
                    <p class="text-review">@modelReview.Content</p>
                </div>
                <div class="col-lg-3">
                    <table class="overall-rating">
                        <tbody>
                            <tr>
                                <td><strong>Đánh giá tổng thể</strong></td>
                                <td>
                                    <div class="rating dealer">
                                        <div class="wrapper" style="background-position: @modelReview.OverallReview 0px;">
                                            <div class="value"></div>
                                        </div>
                                        <div class="detail"><strong>(@modelReview.Overall)</strong></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Kiểu dáng thiết kế</td>
                                <td>
                                    <div class="rating overall">
                                        <div class="wrapper">
                                            <div class="value" style="width: @modelReview.BodyReview;"></div>
                                        </div>
                                        <div class="detail">(@modelReview.PointBody)</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Độ an toàn của xe</td>
                                <td>
                                    <div class="rating overall">
                                        <div class="wrapper">
                                            <div class="value" style="width: @modelReview.SafeReview;"></div>
                                        </div>
                                        <div class="detail">(@modelReview.PointSafe)</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Vận hành</td>
                                <td>
                                    <div class="rating overall">
                                        <div class="wrapper">
                                            <div class="value" style="width:@modelReview.OperationReview;"></div>
                                        </div>
                                        <div class="detail">(@modelReview.PointOperation)</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Giá cả hợp lý</td>
                                <td>
                                    <div class="rating overall">
                                        <div class="wrapper">
                                            <div class="value" style="width:@modelReview.PriceReview;"></div>
                                        </div>
                                        <div class="detail">(@modelReview.PointPrice)</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    <div class="load-more-results">
        @{ Html.RenderPartial("_Paging", Model); }
    </div>
}
