﻿@using Vienauto.Mobile.Models.View;
@model PagingDataComponent<ModelDetail>

<br />
<h3 class="secondary">Xe cùng kiểu dáng</h3>
@if (Model.DataList != null)
{
    <ul id="same-style-list" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
        @foreach (var car in Model.DataList)
        {
            <li class="vehicle-record ui-li ui-li-static ui-btn-up-d ui-corner-top">
                <div class="clearfix cf same-style-box">
                    <div class="left">
                        <div class="img-container">
                            <img class="lazy" src="@car.Avatar" style="display: inline;"
                                 title="@car.YearName @car.ManufacturerName @car.ModelName @car.CarName">
                        </div>
                    </div>
                    <div class="right">
                        <h3 class="ui-li-heading">
                            <span class="ui-link" href="#">
                                @Html.ActionLink($"{car.YearName} {car.ManufacturerName} {car.ModelName}",
                               "Detail", new
                               {
                                   manufacturer = car.ManufacturerName,
                                   model = car.ModelName,
                                   year = car.YearName,
                                   carId = car.CarId
                               })
                            </span>
                        </h3>
                        <p class="ui-li-desc">
                            Giá: <strong>@car.Price</strong>
                        </p>
                        <div class="rating dealer">
                            <div class="wrapper" style="background-position:@car.MaxRating 0px;">
                                <div class="value"></div>
                            </div>
                            <span class="detail">(@car.TotalReview)</span>
                        </div>
                        <br />
                        <p class="ui-li-desc" style="margin-top: 5px;">
                            Tiêu hao nhiên liệu
                        </p>
                        <p class="ui-li-desc">
                            <span class="inlineBlock">
                                Thành phố: <strong>@car.FuelEconomyCity lít</strong>
                            </span>
                        </p>
                        <p class="ui-li-desc">
                            <span class="inlineBlock">
                                Cao tốc: <strong>@car.FuelEconomyHighway lít</strong>
                            </span>
                        </p>
                    </div>
                </div>
            </li>
        }
    </ul>
    { Html.RenderPartial("_Paging", Model); }
}
