﻿@using Vienauto.Mobile.Models.Form;
@using Vienauto.Mobile.Configuration;
@model ReviewInputModel

@Scripts.Render(AppSetting.BundleJsBootstrapRatingPath)
@Scripts.Render(AppSetting.BundleJsModelPath)

<div id="modal-reviews-model" class="modal in" tabindex="-1" style="display:block; overflow-x:hidden; overflow-y: auto">
    <div class="modal-dialog">
        <div class="modal-content animated bounceIn">
            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form-reviews-model", name = "form-reviews-model" }))
            {             
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="modal-header">
                        <button type="button" class="close modal-close">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4 class="modal-title" style="color: #7B2787;">Đánh giá đại lý</h4>
                    </div>
                    <div class="modal-body">
                        <div id="panel_reviews_notcomplete">
                            <div>
                                Đánh giá của bạn sẽ giúp rất nhiều cho khách hàng của chúng tôi khi giao dịch
                                tại đại lý này. Theo nhận định riêng của bạn +
                                <span id="product_need_reviews" style="font-weight: bold;">@Model.Brand @Model.Model @Model.Year</span>
                                đạt bao nhiêu sao (5 sao là tuyệt đối).
                            </div>
                            <div style="padding-top: 30px;">
                                <div><b>Đánh giá chung:</b></div>
                                <ul style="line-height: 30px;">
                                    <li>
                                        <p>Kiểu dáng thiết kế:</p>
                                        @Html.TextBoxFor(x => x.PointBody, new { @id = "point_body", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.PointBody)
                                    </li>
                                    <li>
                                        <p>Độ an toàn: </p>
                                        @Html.TextBoxFor(x => x.PointSafe, new { @id = "point_safe", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.PointSafe)
                                    </li>
                                    <li>
                                        <p>Vận hành:</p>
                                        @Html.TextBoxFor(x => x.PointOperation, new { @id = "point_operation", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.PointOperation)
                                    </li>
                                    <li>
                                        <p>Giá cả hợp lý:</p>
                                        @Html.TextBoxFor(x => x.PointPrice, new { @id = "point_price", @class = "rating" })
                                        <span class="label label-default label-star"></span>
                                        @Html.ValidationMessageFor(x => x.PointPrice)
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <b>Nhận xét</b>
                                <div align="center" style="margin-top: 20px;">
                                    @Html.TextBoxFor(x => x.Title, new { @id = "title_reviews", @placeholder = "Tiêu đề đánh giá", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Title)

                                    @Html.TextBoxFor(x => x.Name, new { @id = "fullname", @placeholder = "Họ và tên", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Name)

                                    @Html.TextBoxFor(x => x.Email, new { @id = "email", @placeholder = "Email", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Email)

                                    @Html.TextBoxFor(x => x.Phone, new { @id = "phone", @placeholder = "Số điện thoại", @class = "input-register" })
                                    @Html.ValidationMessageFor(x => x.Phone)
                                    @Html.TextAreaFor(x => x.Content, new { @id = "content_reviews", @placeholder = "Nhận xét của bạn", @class = "input-register", @rows = "5" })
                                    @Html.ValidationMessageFor(x => x.Content)
                                    <div id="error_content" class="text-danger" style="width: 100%; text-align: left;">
                                        @ViewBag.ErrorMessage
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn_submit_reviews" type="button" class="btn btn-primary" data-href="/Model/SaveModelReview">Đánh giá</button>
                        <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Đóng</button>
                    </div>
                </fieldset>            
            } 
        </div>
    </div>
</div>
