﻿@using Vienauto.Mobile.Models.View;
@using Vienauto.Mobile.Configuration;
@model ModelDetail

@Styles.Render(AppSetting.BundleCssModelPath)
@Scripts.Render(AppSetting.BundleJsModelPath)

<div data-role="content" class="ui-content model-content" role="main">
    @Html.HiddenFor(x => x.ManufacturerId, new { id = "current-manufactureId" })
    @Html.HiddenFor(x => x.ModelId, new { id = "current-modelId" })
    @Html.HiddenFor(x => x.YearId, new { id = "current-yearId" })
    @Html.HiddenFor(x => x.CarId, new { id = "current-carId" })
    <h2 class="price-mileage">
        <a href="@Url.Action("Index", "Model", new {
                manufacturer = Model.ManufacturerName,
                model = Model.ModelName,
                year = Model.YearName })">
            @Model.YearName @Model.ManufacturerName @Model.ModelName
        </a>
    </h2>
    <h4 class="price-mileage">@Model.CarName</h4>
    <h4 class="price-mileage">@Model.StyleName</h4>
    <p class="price-mileage">
        <img src="@Model.Avatar"
             alt="@Model.YearName @Model.ManufacturerName @Model.ModelName" class="vehicle-photo">
    </p>
    <div class="common-model-info price-mileage">
        <div>
            Giá: <strong>@Model.Price</strong>
        </div>
        <div>
            Tiêu hao nhiên liệu
        </div>
        <div>
            (Thành phố / Cao tốc)
        </div>
        <strong>@Model.FuelEconomyCity / @Model.FuelEconomyHighway lít</strong>
    </div>
    <p class="price-mileage">
        <a class="see-all-styles ui-link"
           href="javascript:showSameVersionCars('@Model.ManufacturerName','@Model.ModelName','@Model.YearName');">
            Xe cùng phiên bản
        </a>
    </p>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#section-overview">Tổng quan</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-technology">Thông số</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-image">Hình ảnh</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-style">Giải trí / Màu sắc</a>
        </li>
        <li>
            <a data-toggle="tab" href="#section-view">Nội ngoại thất</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="section-overview" class="tab-pane fade in active">
        </div>
        <div id="section-technology" class="tab-pane fade">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-toggle="tab" href="#section-engine">Động cơ</a>
                </li>
                <li><a data-toggle="tab" href="#section-safety">An toàn</a></li>
            </ul>
            <div class="tab-content">
                <div id="section-engine" class="tab-pane fade in active">
                </div>
                <div id="section-safety" class="tab-pane fade">
                </div>
            </div>
        </div>
        <div id="section-image" class="tab-pane fade">
        </div>
        <div id="section-style" class="tab-pane fade">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#section-entertainment">Giải trí</a></li>
                <li><a data-toggle="tab" href="#section-color">Màu sắc</a></li>
            </ul>
            <div class="tab-content">
                <div id="section-entertainment" class="tab-pane fade in active">
                </div>
                <div id="section-color" class="tab-pane fade">
                </div>
            </div>
        </div>
        <div id="section-view" class="tab-pane fade">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="tab" href="#section-interior">Nội thất</a></li>
                <li><a data-toggle="tab" href="#section-exterior">Ngoại thất</a></li>
            </ul>
            <div class="tab-content">
                <div id="section-interior" class="tab-pane fade in active">
                </div>
                <div id="section-exterior" class="tab-pane fade">
                </div>
            </div>
        </div>
    </div>
</div>
