﻿@using Vienauto.Mobile.Models.View;
@using Vienauto.Mobile.Configuration;
@model ModelDetail

@Styles.Render(AppSetting.BundleCssModelPath)
@Scripts.Render(AppSetting.BundleJsModelPath)

<div class="ui-content model-content" role="main" style="min-height: 525px;">
    <div class="model-top-index">
        <h2>
            <a href="@Url.Action("Detail", "Model", new {
                manufacturer = Model.ManufacturerName,
                model = Model.ModelName,
                year = Model.YearName })">
                @Model.YearName @Model.ManufacturerName @Model.ModelName
            </a>
        </h2>
        <a href="@Url.Action("Detail", "Model", new {
                manufacturer = Model.ManufacturerName,
                model = Model.ModelName,
                year = Model.YearName })">
            <img src="@Model.Avatar" class="vehicle-photo"
                 alt="@Model.YearName @Model.ManufacturerName @Model.ModelName @Model.CarName">
        </a>
        <div class="common-model-info">
            <div>
                Giá: <strong>@Model.Price</strong>
            </div>
            <div>
                Tiêu hao nhiên liệu
            </div>
            <div>
                (Thành phố / Cao tốc)
            </div>
            <strong>@Model.FuelEconomyCity / @Model.FuelEconomyHighway lít</strong>
        </div>
    </div>
    <a class="see-all-styles ui-link"
       href="javascript:showSameVersionCars('@Model.ManufacturerName','@Model.ModelName','@Model.YearName');">
        Xe cùng phiên bản
    </a>
    <h3 class="secondary">Đánh giá tiêu biểu</h3>
    <div class="rating consumer model link index-review">
        <div class="wrapper" style="background-position:@Model.MaxRating 0px;">
            <div class="value"></div>
        </div>
        <div>
            (@Model.MaxReview)
            <strong>@Model.TotalReview đánh giá</strong>
        </div>
    </div>
    <h3 class="secondary">Tiêu chí đánh giá</h3>
    <div class="expert-revs pros">
        <ul class="datalist">
            <li>Kiểu dáng thiết kế</li>
            <li>Độ an toàn của xe</li>
            <li>Giá cả hợp lý</li>
            <li>Vận hành</li>
        </ul>
    </div>
    <div class="all-expert-reviews link">
        @Html.ActionLink("Xem tất cả đánh giá", "Review",
                        new
                        {
                            manufacturerId = Model.ManufacturerId,
                            modelId = Model.ModelId,
                            yearId = Model.YearId
                        })
    </div>
    <h3 class="secondary">Tìm xe</h3>
    <div align="center">
        <div class="ui-btn ui-btn-up-r ui-shadow ui-btn-corner-all ui-submit">
            <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Xem xe cùng kiểu dáng</span>
            </span>
            <input id="seeAllNearby" type="button" class="js-submit primary ui-btn-hidden" value="Xem xe cùng phiên bản"
                   onclick="showSameStyleCars('@Model.ManufacturerName', '@Model.ModelName', '@Model.YearName', '@Model.StyleName');">
        </div>
    </div>
    <br>
</div>
