﻿@using Vienauto.Mobile.Models.View;
@using Vienauto.Mobile.Configuration;
@model ModelReviewDetail

@Styles.Render(AppSetting.BundleCssModelPath)
@Scripts.Render(AppSetting.BundleJsModelPath)

<div id="model-review-page" class="model-content" role="main" style="min-height: 526px;">
    <h1>
        <a href="@Url.Action("Index", "Model", new {
                manufacturer = Model.Brand,
                model = Model.ModelName,
                year = Model.Year })">
            @Model.Year @Model.Brand @Model.Model
        </a>
    </h1>
    @Html.HiddenFor(model => model.Brand, new { id = "current-brand" })
    @Html.HiddenFor(model => model.Model, new { id = "current-model" })
    @Html.HiddenFor(model => model.Year, new { id = "current-year" })
    <div class="ui-grid-a review-split">
        <div class="ui-block-a">
            <a href="@Url.Action("Detail", "Model", new
                    {
                        manufacturer = Model.Brand,
                        model = Model.Model,
                        year = Model.Year
                    })">
                <img src="@Model.Image" class="vehicle-photo"
                     alt="@Model.Year @Model.Brand @Model.Model">
            </a>
        </div>
        <div class="ui-block-b">
            <div class="common-model-info">
                Giá: <strong>@Model.Price</strong>
            </div>
            <div>Tiêu hao nhiên liệu</div>
            <div>Thành phố: <strong>@Model.FuelInCity lít</strong></div>
            <div>Cao tốc: <strong>@Model.FuelInHighWay lít</strong></div>
        </div>
    </div>
    <div id="writeReviewLink">
        <span class="write-review-link" style="margin-bottom: 20px;">
            <a href="#" id="write-to-model-reviews">Viết đánh giá</a>
        </span>
    </div>
    <div class="review-subheader">
        <table class="overall-rating">
            <tbody>
                <tr>
                    <td><strong>Đánh giá tổng thể</strong></td>
                    <td>
                        <div class="rating dealer">
                            <div class="wrapper" style="background-position: @Model.OverallReview 0px;">
                                <div class="value"></div>
                            </div>
                            <div class="detail"><strong>(@Model.Overall)</strong></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Kiểu dáng thiết kế</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width: @Model.BodyReview;"></div>
                            </div>
                            <div class="detail">(@Model.PointBody)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Độ an toàn</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width: @Model.SafeReview;"></div>
                            </div>
                            <div class="detail">(@Model.PointSafe)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Vận hành</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width:@Model.OperationReview;"></div>
                            </div>
                            <div class="detail">(@Model.PointOperation)</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Giá cả hợp lý</td>
                    <td>
                        <div class="rating overall">
                            <div class="wrapper">
                                <div class="value" style="width:@Model.PriceReview;"></div>
                            </div>
                            <div class="detail">(@Model.PointPrice)</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div id="sortSelector">
            <strong id="model-total-reviews">@Model.TotalReview</strong> đánh giá
        </div>
    </div>
    <hr>
    <div id="model-review-list" class="dealer-review">
        @{ Html.RenderPartial("_ModelsReviewsContent", new PagingDataComponent<ModelsReviewsViewModel>()); }
    </div>
    <div id="form-reviews"></div>
</div>
