﻿@using Vienauto.Mobile.Models.View;
@using Vienauto.Mobile.Configuration;
@model ModelSameVersion

@Styles.Render(AppSetting.BundleCssModelPath)

<div data-role="content" class="ui-content model-content" role="main" style="min-height: 525px;">
    @{
        var modelDetail = Model.modelInformation;
    }
    @if (modelDetail != null)
    {
        <h1>
            <a href="@Url.Action("Index", "Model", new
                {
                    manufacturer = modelDetail.ManufacturerName,
                    model = modelDetail.ModelName,
                    year = modelDetail.YearName
                })">
                @modelDetail.YearName @modelDetail.ManufacturerName @modelDetail.ModelName
            </a>
        </h1>
        <div class="ui-grid-a review-split">
            <div class="ui-block-a">
                <a href="@Url.Action("Detail", "Model", new
                {
                    manufacturer = modelDetail.ManufacturerName,
                    model = modelDetail.ModelName,
                    year = modelDetail.YearName
                })">
                    <img src="@modelDetail.Avatar" class="vehicle-photo"
                         alt="@modelDetail.YearName @modelDetail.ManufacturerName @modelDetail.ModelName">
                </a>
            </div>
            <div class="ui-block-b">
                <div class="common-model-info">
                    Giá: <strong>@modelDetail.Price</strong>
                </div>
                <div>Tiêu hao nhiên liệu</div>
                <div>(Thành phố / Cao tốc)</div>
                <strong>@modelDetail.FuelEconomyCity / @modelDetail.FuelEconomyHighway lít</strong>
            </div>
        </div>
    }
    <h3 class="secondary">@Model.sameVersionCars.Count phiên bản</h3>
    <div id="vdp" class="trimList container-fluid">
        @if (Model.sameVersionCars?.Count > 0)
            {
                foreach (var car in Model.sameVersionCars)
                {
                <div class="same-styles-model row">
                    <div class="col-xs-5">
                        <img class="lazy" src="@car.Avatar" style="display: inline;" title="@car.CarName">
                    </div>
                    <div class="col-xs-7">
                        <div style="margin-left: 15px;">
                            <div class="trim-item arrow-right">
                                <h3 class="model-title">
                                    @Html.ActionLink(car.CarName, "Detail", new
                                   {
                                       manufacturer = car.ManufacturerName,
                                       model = car.ModelName,
                                       year = car.YearName,
                                       carId = car.CarId
                                   })
                                </h3>
                                Giá: <strong>@car.Price</strong>
                            </div>
                            <div>
                                Tiêu hao nhiên liệu
                            </div>
                            <div>
                                Thành phố: <strong>@car.FuelEconomyCity</strong>
                            </div>
                            <div>
                                Cao tốc: <strong>@car.FuelEconomyHighway</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            }
        }
        <br />
    </div>
</div>
