﻿@using Vienauto.Mobile.Models;
@using Vienauto.Mobile.Models.View;
@using Vienauto.Mobile.Configuration;
@model ModelDetail

@Styles.Render(AppSetting.BundleCssModelPath)
@Scripts.Render(AppSetting.BundleJsModelPath)

<div class="ui-content model-content" role="main" style="min-height: 525px;">
    @if (Model != null)
    {
        @Html.HiddenFor(model => model.ManufacturerName, new { id = "current-manufacturer" })
        @Html.HiddenFor(model => model.ModelName, new { id = "current-model" })
        @Html.HiddenFor(model => model.YearName, new { id = "current-year" })
        @Html.HiddenFor(model => model.StyleName, new { id = "current-style" })
        <h1>
            <a href="@Url.Action("Index", "Model", new
                {
                    manufacturer = Model.ManufacturerName,
                    model = Model.ModelName,
                    year = Model.YearName
                })">
                @Model.YearName @Model.ManufacturerName @Model.ModelName
            </a>
        </h1>
        <div class="ui-grid-a review-split">
            <div class="ui-block-a">
                <a href="@Url.Action("Detail", "Model", new
                    {
                        manufacturer = Model.ManufacturerName,
                        model = Model.ModelName,
                        year = Model.YearName
                    })">
                    <img src="@Model.Avatar" class="vehicle-photo"
                         alt="@Model.YearName @Model.ManufacturerName @Model.ModelName">
                </a>
            </div>
            <div class="ui-block-b">
                <div class="common-model-info">
                    Giá: <strong>@Model.Price</strong>
                </div>
                <div>
                    Tiêu hao nhiên liệu
                </div>
                <div>
                    (Thành phố / Cao tốc)
                </div>
                <strong>
                    @Model.FuelEconomyCity / @Model.FuelEconomyHighway lít
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                &nbsp;
            </div>
            <div class="col-xs-6" align="right" style="margin-top: 15px; margin-bottom: 10px;">
                Hiển thị &nbsp;
                @Html.DropDownList("PageSize", BaseModel.DisplayItemsPerPage(), new { id = "items-per-page" })
            </div>
        </div>
    }
    <div id="model-same-style-list">
        @{ Html.RenderPartial("_ModelSameStyleContent", new PagingDataComponent<ModelDetail>()); }
    </div>
</div>
