<?xml version="1.0"?>
<appSettings>
  <!-- config -->
  <add key="nhibernateConfig" value="nhibernate.config" />

  <!-- mail -->
  <add key="mailFrom" value="" />
  <add key="mailTo" value="" />
  <add key="cc" value="" />

  <!-- bundle config -->
  <add key="bunleBootstrapDirectory" value="/bootstrap/" />
  <add key="bunleCssBootstrapPath" value="~/bundles/css/bootstrap" />

  <add key="bunleCoreDirectory" value="/core/" />
  <add key="bunleJsCorePath" value="~/bundles/js/core" />
  <add key="bunleCssCorePath" value="~/bundles/css/core" />

  <add key="bunleLoginDirectory" value="/module/login/" />
  <add key="bunleJsLoginPath" value="~/bundles/js/login" />
  <add key="bunleCssLoginPath" value="~/bundles/css/login" />

  <add key="bunleRegisterDirectory" value="/module/register/" />
  <add key="bunleJsRegisterPath" value="~/bundles/js/register" />
  <add key="bunleCssRegisterPath" value="~/bundles/css/register" />

  <add key="logErrorsToFile" value="y"/>
  <add key="errorFile" value="D:\Logs\errors.log"/>
  <!-- what file to log errors to if file logging is on-->
  <add key="fileName:default" value="D:\Logs\Debug.log"/>
  <add key="logLevel:default" value="Debug"/>
</appSettings>
