<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="DDLConfigSection" type="Vienauto.Mobile.ConfigSection, Vienauto.Mobile"/>
  </configSections>
  <DDLConfigSection>
    <DDLSet>
      <DDLItem text="2" value="2" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="3" value="3" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="4" value="4" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="5" value="5" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="6" value="6" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="7" value="7" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="8" value="8" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text=">8" value="9" name="TotalBranches" controller="Account"></DDLItem>
      <DDLItem text="&lt;5" value="nhỏ hơn 5 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="10" value="10 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="15" value="15 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="20" value="20 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="25" value="25 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="30" value="30 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="&gt;30" value="lớn hơn 30 chiếc" name="NumberCarTransactions" controller="Account"></DDLItem>
      <DDLItem text="Trong nước" value="Trong nước" name="CarDistributions" controller="Account"></DDLItem>
      <DDLItem text="Nhập khẩu" value="Nhập khẩu" name="CarDistributions" controller="Account"></DDLItem>
      <DDLItem text="Trong nước và nhập khẩu" value="Trong nước và nhập khẩu" name="CarDistributions" controller="Account"></DDLItem>
      <DDLItem text="Trong nước" value="Trong nước" name="IntroduceCustomer" controller="Account"></DDLItem>
      <DDLItem text="Nhập khẩu" value="Nhập khẩu" name="IntroduceCustomer" controller="Account"></DDLItem>
      <DDLItem text="Trong nước và nhập khẩu" value="Trong nước và nhập khẩu" name="IntroduceCustomer" controller="Account"></DDLItem>
      <DDLItem text="Tiếp thị quảng cáo" value="Tiếp thị quảng cáo" name="YourCustomer" controller="Account"></DDLItem>
      <DDLItem text="Người quen biết" value="Người quen biết" name="YourCustomer" controller="Account"></DDLItem>
      <DDLItem text="Cách khác" value="Cách khác" name="YourCustomer" controller="Account"></DDLItem>
      <DDLItem text="Email quảng cáo" value="Email quảng cáo" controller="Account"></DDLItem>
      <DDLItem text="Tiếp thị" value="Tiếp thị" name="HowToKnowUs" controller="Account"></DDLItem>
      <DDLItem text="Truyền hình" value="Truyền hình" name="HowToKnowUs" controller="Account"></DDLItem>
      <DDLItem text="Internet" value="Internet" name="HowToKnowUs" controller="Account"></DDLItem>
    </DDLSet>
  </DDLConfigSection>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-VienautoRemake-20160725110448.mdf;Initial Catalog=aspnet-VienautoRemake-20160725110448;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="nhibernateConfig" value="nhibernate.config" />
    <add key="mailFrom" value="" />
    <add key="mailTo" value="" />
    <add key="cc" value="" />

    <!-- bundle config -->
    <add key="bunleCoreDirectory" value="/core" />
    <add key="bunleJsCorePath" value="~/bundles/js/core" />
    <add key="bunleCssCorePath" value="~/bundles/css/core" />

    <add key="bunleLoginDirectory" value="/module/login" />
    <add key="bunleJsLoginPath" value="~/bundles/js/login" />
    <add key="bunleCssLoginPath" value="~/bundles/css/login" />

    <add key="bunleRegisterDirectory" value="/module/register" />
    <add key="bunleJsRegisterPath" value="~/bundles/js/register" />
    <add key="bunleCssRegisterPath" value="~/bundles/css/register" />

    <add key="logErrorsToFile" value="y"/>
    <add key="errorFile" value="D:\Logs\errors.log"/>
    <!-- what file to log errors to if file logging is on-->
    <add key="fileName:default" value="D:\Logs\Debug.log"/>
    <add key="logLevel:default" value="Debug"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="notify@flipside.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" defaultCredentials="false" userName="notify@flipside.com" password="N0t!fyEm@il" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>